@import "mixins.scss";

.footer {
  padding: 64px 0 38px 0;
  background: #5294ab;
  position: relative;
  @include b(tablet) {
    padding: 32px 0 21px 0;
  }
  @include b(767) {
    padding: 24px 0 34px 0;
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  &__wrap {
  }

  &__wrap-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include b(767) {
      flex-direction: column;
    }
  }

  &__item {
    @include b(767) {
      order: 1;
    }
    &_address {
      margin-bottom: 86px;
      @include b(tablet) {
          margin-bottom: 73px;
      }
      @include b(767) {
        margin-bottom: 21px;
      }
      p {
        color: #fff;
        line-height: 21px;
        display: block;
        @include b(tablet) {
          font-size: 12px;
          line-height: 15px;
        }
        @include b(767) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    &_contacts {
      display: flex;
      flex-direction: column;
      @include b(tablet) {
          width: 30%;
      } 
      @include b(767) {
        width: 100%;
        order: 3;
      }
    }

    &_links {
      @include b(tablet) {
          width: 30%;
      }
      
      @include b(767) {
        order: 2;
        margin-bottom: 35px;
        width: 100%;
      }
      li {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        @include b(mobile) {
            margin-bottom: 11px;
        }
        @include b(767) { 
          margin-bottom: 14px;
        }
      }
      a {
        color: #fff;
        font-size: 18px;
        line-height: 19px;
        text-transform: uppercase;
        @include b(tablet) {
          font-size: 14px;
          line-height: 19px;
        }

        @include b(767) {
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }

  &__logo {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    span {
      font-size: 16px;
      color: #fff;
      display: none;
      @include b(500) {
      }
    }
    @include b(tablet) {
        max-width: 201px;
        max-height: 30px;
        margin-bottom: 72px;
    }
    @include b(767) {
      margin-bottom: 35px;
      order: 1;
      max-width: 100%;
      align-items: flex-start;
      img {
        max-width: 188px;
        max-height: 40px;
      }
      span {
        font-size: 9px;
        line-height: 10px;
        padding-left: 10px;
        display: inline-block;
      }
    }

    
  }

  &__copyright {
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    @include b(tablet) {
      display: block;
      span {
        display: block;
      }
    }
    @include b(767) {
      display: none;
    }
  }

  &__contacts_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    @include b(767) {
      margin-bottom: 32px;
    }
  }

  &__contact_email {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    @include b(tablet) {
      font-size: 12px;
      line-height: 16px;
    }
    @include b(767) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__contact_phone {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    @include b(tablet) {
      margin-bottom: 12px;
      font-size: 14px;
    }
    @include b(767) {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__social,
  &__payment {
    margin-bottom: 36px;
    @include b(tablet) {
      margin-bottom: 28px;
    }
    span {
      display: block;
      text-transform: uppercase;
      color: #fff;
      line-height: 21px;
      margin-bottom: 4px;
      @include b(tablet) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    a {
      padding-right: 16px;
      display: inline-block;
      &:last-child {
        padding-right: 0;
      }

      @include b(tablet) {
        padding-right: 0px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__payment{
    div {
      display: flex;
      align-items: center;
    }
      img {
        &:last-child {
          margin-left: 6px;
        }
      }
  }

  &__payment {
    margin-bottom: 0;
    @include b(767) {
      margin-bottom: 32px;
    }
  }

  &__scrollUp {
    display: flex;
    align-items: flex-end;
    @include b(tablet) {
        position: absolute;
        bottom: 3px;
        right: 65px;
    }
    @include b(767) {
      position: absolute;
      bottom: 64px;
      right: 65px;
    }
  }

  &__scroll-wrap {
    border: 2px solid #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    @include b(tablet) {
      width: 49px;
      height: 49px;
      img {
        max-width: 21px;
        max-height: 12px;
      }
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__copyright-responsive {
    display: none;
    @include b(767) {
      display: block;
      order: 6;
      color: #fff;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
