.goods {
  max-width: 271px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  &--other_w {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__discount{
    position: absolute;
    left: 0;
    top: 12px;
    z-index: 100;
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5660;
    color: #fff;
    &--color {
      background-color: #27A2F8;
    }
  }

  &--basket {
    display: flex;
    max-width: 100%;
    margin-bottom: 30px;
    flex-direction: row;
    @include b(500) {
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .goods__img {
      margin-bottom: 0;
      padding: 15px;
      img {
        max-width: 145px;
        max-height: 145px;
      }
      @include b(500) {
          img {
            max-width: 80px;
            max-height: 80px;
          }
          padding: 10px;
          height: 100px;
      }
    }
    
    .goods__descr {
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      margin-bottom: 5px;
      @include b(500) {
          font-size: 12px;
      }
    }
    .product__info-quantity-field {
      height: 48px;
      @include b(mobile) {
          height: auto;
      }
      @include b(500) {
        height: 40px;
      }
    }
    .product__info-quantity-wrap  {
      display: flex;
      justify-content: space-between;
      @include b(mobile) {
          margin-bottom: 0;
      }
      @include b(500) {
        display: none;
      }
      &--reponsive {
        display: none;
        padding-top: 12px;
        @include b(500) {
            display: flex;
            justify-content: flex-start;
        }
        .product__info-quantity-field {
          max-width: 142px;
          input {
            height: auto;
          }
        }
        .goods__prise {
          margin-right: 17px;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    .goods__prise {
      font-size: 30px;
      line-height: 1.23;
      @include b(500) {
          font-size: 20px;
      }
    }
    .goods__property {
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      @include b(500) {
          img {
            display: none;
          }
      }
    }

    .goods__article {
      @include b(500) {
        p {
          font-size: 12px;
          line-height: 1.5;
          span {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.5;
            margin-left: 8px;
          }
        }
      }
    }
  }

  &__basket-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    @include b(500) {
      flex: 0 0 55%;
      margin-left: 8px;
    }
  }

  &__descr {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;

    &--fz18 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__img {
    margin-bottom: 20px;
    background: #f8f8f8;
    padding: 7px;
    display: flex;
    justify-content: center;
    position: relative;
    @include b(mobile) {
      padding: 32px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    &--padding {
      padding: 34px;
      @include b(mobile) {
        padding: 30px;
      }
      @include b(500) {
        padding: 20px;
      }
    }

    &--close {
      padding: 36px;
      @include b(500) {
        width: calc(100% + 30px);
        margin: 0 -15px;
      }
    }
  }

  &__favorites{
    position: absolute;
    right: 17px;
    top: 19px;
    img {
      max-width: 24px;
      max-height: 24px;
    }
  }



  &__rating {
    display: flex;
    margin-bottom: 16px;
    span {
      font-size: 14px;
      color: #6f6f6f;
      margin-left: 12px;
    }
    img {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  &__rating-wrap{
    display: flex;
  }

  &__property {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include b(1024) {
        flex-wrap: wrap;
        align-items: flex-end;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    text-transform: none;
    span {
      font-weight: 300;
      font-size: 16px;
      margin-left: 25px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }

    &--fz {
      span {
        font-size: 14px;
        margin-left: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  &__prise {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #5294ab;
    text-transform: uppercase;
    @include b(1024) {
      font-size: 22px;
    }
    @include b(1024) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  &__sale {
    font-size: 22px;
    color: #303030;
    text-decoration: line-through;
    &--fz {
      font-size: 24px !important;
      padding-left: 24px;
    }
    @include b(1024) {
        flex: 0 0 100%;
        order: -1;
        text-align: right;
        font-size: 18px;
        line-height: 0px;
    }
  }
}
