@import "mixins.scss";

.header {
  padding-bottom: 14px;
  &.scroll {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &__wrap {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0;
    @include b(tablet) {
      height: 71px;
    }
    @include b(tablet) {
      padding-right: 0;
    }
  }

  &__burger-position {
    display: block;
    position: absolute;
    left: 0;
    cursor: pointer;
    @include b(tablet) {
      img {
        position: relative;
        z-index: 30;
      }
    }
  }

  &__btn-menu {
    position: relative;
    display: table;
    margin: 0 auto;
    width: 28px;
    height: 20px;
    z-index: 30;
    

    &.animationClose {
      span {
        &:nth-child(1) {
          top: 1px;
          transform: rotate(-45deg);
          background-color: #000;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 1px;
          transform: rotate(45deg);
          background-color: #000;
        }
      }
    }

    span {
      @include trs;
      position: absolute;
      top: -4px;
      left: 0;
      width: 28px;
      height: 2px;
      z-index: 15;
      background-color: #000;
      &:nth-child(2) {
        top: 5px;
      }
      &:nth-child(3) {
        top: 13px;
      }
      @include b(mobile) {
        width: 18px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &_desktop {
      @include b(768) {
        max-width: 250px;
        max-height: 40px;
      }

      @include b(422) {
        max-width: 167px;
        max-height: 25px;
      }
    }
  }

  &__logo_descr {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    @include b(tablet) {
      display: none;
    }
  }

//setting ------------------------------

  &__settings_bar {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 41px;
    width: 100%;
    height: 100%;
  }
  &__settings_wrap{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    @include b(tablet) {
      top: -13px;
    }
  } 
  &__setting {
    height: 100%;
    padding: 34px 15px 10px 14px;
    border: 1px solid rgba(255, 255, 255, 0);;
    @include b(1700) {
      display: none;
    }


    &:nth-child(4) {
      img {
        margin-right: 10px;
      }
      display: flex;
      @include b(mobile) {
        display: none;
      }
    }

   
    &:hover {
      border: 1px solid rgba(228, 228, 228, 0.5);
      box-shadow: 3px 5px 20px rgba(116, 72, 72, 0.1);
      border-radius:  0 0 5px 5px;
      
      .header__setting-items {
          &:not(:first-child) {
              display: flex;
            }
      }
    }
  }

  &__setting-wrap {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  &__setting-items {
    margin-bottom: 12px;
    display: flex;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    a {
        color: #303030;
    }
    &:not(:first-child) {
      display: none;
    }
  
    @include b(tablet) {
      z-index: 20;
    }
    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 14px;
      line-height: 21px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
  }

//setting ------------------------------


  &__profile{
    position: absolute;
    right: 17px;
    display: flex;
    @include b(mobile) {
      right: 0;
      width: 100%;
      padding-left: 14px;
      align-items: center;
    }
    &_item {
      cursor: pointer;
      margin-left: 14px;
      &:nth-child(3) {
        display: none;
      }
      
      &:last-child {
        margin-right: 0;
        
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }

      @include b(mobile) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          position: absolute;
          display: block;
          right: 0;
          margin-right: 0;
        }
        &:nth-child(4) {
          display: block;
          position: absolute;
          right: 0;
          margin-right: 30px;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
