@import "mixins.scss";

.header {
  padding-bottom: 14px;
  @include b(mobile) {
    padding-bottom: 0;
  }
  &.scroll {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
  }
  &__wrap {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0;
    @include b(tablet) {
      height: 71px;
    }
    @include b(tablet) {
      padding-right: 0;
    }
  }

  &__burger-position {
    display: block;
    position: absolute;
    left: 0;
    top: 47%;
    transform: translateY(-50%);
    z-index: 2001;
    height: 28px;
    width: 28px;
    cursor: pointer;
    @include b(tablet) {
      img {
        position: relative;
        z-index: 30;
      }
    }
  }

  &__btn-menu {
    position: relative;
    z-index: 30;
    height: 28px;
    width: 28px;

    &.animationClose {

      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(-45deg);
          background-color: #000;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          top: 10px;
          transform: rotate(45deg);
          background-color: #000;
        }
      }
    }

    span {
      @include trs;
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 1px;
      z-index: 15;
      background-color: #000;
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 17px;
      }
      @include b(500) {
        width: 18px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
    &_desktop {
      @include b(768) {
        max-width: 167px;
        max-height: 25px;
      }

      @include b(422) {
        max-width: 167px;
        max-height: 25px;
      }
    }
  }

  &__logo_descr {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    @include b(tablet) {
      display: none;
    }
  }

  //setting ------------------------------

  &__settings_bar {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 47%;
    transform: translateY(-50%);
    margin-left: 41px;
    width: 100%;
    height: 100%;
  }
  &__settings_wrap {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    @include b(tablet) {
      top: -13px;
    }
  }
  &__setting {
    height: 100%;
    padding: 34px 15px 0 14px;
    border: 1px solid rgba(255, 255, 255, 0);
    @include b(1700) {
      display: none;
    }

    &:nth-child(4) {
      img {
        margin-right: 10px;
      }
      display: flex;
      @include b(500) {
        display: none;
        padding-left: 0;
      }
    }

    &:hover {
      border: 1px solid rgba(228, 228, 228, 0.5);
      box-shadow: 3px 5px 20px rgba(116, 72, 72, 0.1);
      border-radius: 0 0 5px 5px;

      .header__setting-items {
        &:not(:first-child) {
          display: flex;
        }
      }
    }
  }

  &__setting-wrap {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  &__setting-items {
    margin-bottom: 12px;
    display: flex;
    position: relative;
    &:last-child {
      margin-bottom: 10px;
    }
    a {
      color: #303030;
    }
    &:not(:first-child) {
      display: none;
    }

    @include b(tablet) {
      z-index: 20;
    }

    a {
      font-size: 14px;
      line-height: 21px;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    &.active {
      order: -1;
      &:not(:first-child) {
        display: flex;
      }
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  //setting ------------------------------

  &__profile {
    position: absolute;
    right: 17px;
    top: 47%;
    transform: translateY(-50%);
    z-index: 210;
    display: flex;
    @include b(mobile) {
      right: 0;
    }
    @include b(500) {
      right: 0;
      width: 100%;
      padding-left: 14px;
      align-items: center;
    }

    &_item_user {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }

    &_item {
      cursor: pointer;
      margin-left: 45px;
      &:nth-child(3) {
        display: none;
      }

      &:first-child {
        margin-left: 16px;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }

      @include b(mobile) {
        margin-left: 30px;
      }

      @include b(500) {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          position: absolute;
          display: block;
          right: 0;
          margin-right: 0;
        }
        &:nth-child(4) {
          display: block;
          position: absolute;
          right: 0;
          margin-right: 30px;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
}
