.home {
  padding-top: 143px;
  margin-bottom: 190px;
  @include b(mobile) {
    padding-top: 7px;
  }

  &__bigslider{
    margin-bottom: 120px;
    @include b(mobile) {
      margin-bottom: 65px;
    }
  }
  &__bigslider-wrapp {
  }

  &__bigslider-item {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__welcome {
    margin-bottom: 120px;
    @include b(mobile) {
      margin-bottom: 64px;
    }
  }

  &__welcome-caption {
    font-size: 18px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__welcome-descr {
    font-size: 18px;
    font-weight: 300;
    color: #303030;
  }

  &__items {
      margin-bottom: 120px;
      @include b(mobile) {
        margin-bottom: 64px;
      }
  }

  &__viewed {
    display: flex;
    margin: 0 -15px;
  }

  &__viewd-wrapp {
    margin: 0 -10px;
  }

  &__viewd-caption {
    font-size: 24px;
    color: #303030;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__viewd-btn {
    max-width: 291px;
    margin: 32px auto 0;

    &--otherWidth {
      max-width: 228px;
      margin: 0;
    }
  }

  &__viewd-card {
    padding: 0 10px;
  }

  &__viewd-image {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__viewd-link {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    padding-top: 16px;
    margin-bottom: 8px;
  }

  &__viewd-shareTime {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 371px;
    border-radius: 4px;
    background: rgba(33, 150, 243, 0.1);
    border: 1px solid #1790ff;
    padding: 8px;
  }

  &__viewd-time {
    span {
      color: #303030;
    }

    time {
      color: #303030;
    }
  }

  &__viewd-time-title {
  }

  &__viewd-timeLink {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: #2196f3;
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 1px dashed #2196f3;
  }

  &__instashop-slider {
    margin-right: -24px;
    margin-bottom: -24px;
    @include b(500) {
      margin-right: -16px;
      margin-bottom: -16px;
    }
  }

  &__instashop-slider-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__instashop-slider-card {
    display: flex;
    position: relative;
    padding-right: 24px;
    margin-bottom: 24px;
    width: 20%;
    @include b(mobile) {
      width: 33.33%;
      &:nth-child(4),&:nth-child(5),&:nth-child(9),&:nth-child(10) {
        display: none;
      }
    }

    @include b(500) {
      width: 50%;
      padding-right: 16px;
      margin-bottom: 16px;
      &:nth-child(1),&:nth-child(2),&:nth-child(3) {
        display: none;
      }
      &:nth-child(6) {
        display: flex;
      }
      &:nth-child(9) {
        display: flex;
      }
    }
  }

  &__instashop-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: calc(100% - 24px);
    flex-direction: column;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: rgba(#000, 0.7);
      opacity: 1;
    }
    @include b(500) {
      width: calc(100% - 16px);
    }
  }

  &__instashop-hover-icon {
    max-width: 100%;
    max-height: 100%;
  }

  &__instashop-hover-link {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 20px;
    color: #fff;
    padding-top: 15px;
    display: block;
    &:hover {
      color: #fff;
    }
    @include b(mobile) {
      font-size: 12px;
    }
  }

  &__instashop-hover-btn{
    max-width: 228px;
    @include b(mobile) {
      display: none;
    }
  }

  &__instashop-slider-link {
    display: inline-block;
    
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: flex;
      }
  }

  

  &__comments{
    margin-bottom: 175px;
    @include b(mobile) {
      margin-bottom: 64px;
    }
  }

  &__comments-wrapp{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__comments-caption{
    font-size: 24px;
    line-height: 30px;
    color: #303030;
    text-transform: uppercase;
  }

  &__comments-slider {
    position: relative;
    width: 100%;
  }

  &__blog {
    margin-bottom: 120px;
  }

  &__blog-caption {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__blog-slider {
    @include b(500) {
      width: calc(100% + 30px);
      margin: 0 -30px;
    }
  }

  &__blog-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__blog-slider-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 16px;
  }

  &__blog-slider-caption {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000;
  }

  &__blog-slider-name {
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 12px;
    color: #000;
  }

  &__blog-slider-descr {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 25px;
  }

  &__blog-slider-btn{
    max-width: 245px;
  }

  &__information {
    margin-bottom: 120px;
  }

  &__information-wrap {
  }

  &__information-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    &:before {
      content:'';
      display: block;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      width: 25px;
      height: 25px;
      transform: rotate(-45deg);
      cursor: pointer;
      transition: all .2s linear;
    }
    &.active {
      &:before {
        transform: rotate(135deg);
      }
    }
  }

  &__information-descr {
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__information-caption {
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 30px;
    display: block;
  }

}
