.comment-form {
    &__title {
        line-height: 1.25;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 24px;
        display: block;
    }

    &__email {
        label {
           line-height: 1.8;
           font-size: 12px;
           font-weight: 500; 
           text-transform: uppercase;
           margin-bottom: 8px;
        }
        input {
            max-width: 336px;
            margin-bottom: 12px;
            @include b(500) {
                max-width: 100%;
            }
        }
    }

    &__pass {
        label {
            line-height: 1.8;
            font-size: 12px;
            font-weight: 500; 
            text-transform: uppercase;
            margin-bottom: 8px;
         }
         input {
            max-width: 336px;
            margin-bottom: 24px;
            @include b(500) {
                max-width: 100%;
            }
        }
    }

    &__file{
        margin-bottom: 16px;
        label {
            text-transform: uppercase;
            line-height: 1.8;
            font-size: 12px;
            font-weight: 500;
            @include b(500) {
                width: 100%;
            }
        }
        input{
            display: none;
        }
    }

    &__upload{
        border: 1px solid #303030;
        border-radius: 4px;
        height: 48px;
        width: 194px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-top: 8px;
        @include b(500) {
            width: 100%;
        }
    }

    &__text{
        margin-bottom: 16px;
        label {
            text-transform: uppercase;
            line-height: 1.8;
            margin-bottom: 8px;
            font-size: 12px;
            font-weight: 500;
        }
        textarea {
            max-width: 457px;
        }
    }

    &__rating{
        display: flex;
        margin-bottom: 15px;
        span {
            line-height: 1.8;
            font-size: 12px;
            text-transform: uppercase;
            margin-right: 33px;
        }
        div {
            display: flex;
            img {
                display: flex;
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                cursor: pointer;
            }
        }
    }

    &__recaptcha{
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 293px;
        height: 76px;
        border: 1px solid #000;
        border-radius: 4px;
        @include b(500) {
            max-width: 100%;
        }
    }

    .button {
        max-width: 276px;
        @include b(500) {
            max-width: 100%;
        }
    }

    &__auth-title{
        text-transform: uppercase;
        line-height: 1.4;
        font-size: 16px;
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &__auth {
        display: flex;
        @include b(598) {
            flex-direction: column;
        }
    }

    &__auth-item {
        border: 1px solid #E4E4E4;
        border-radius: 4px;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 160px;
        margin-right: 16px;
        @include b(598) {
            margin-bottom: 24px;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            line-height: 1.6;
            font-size: 14px;
            display: block;
            width: 100%;
        }
        span {
            padding: 8px;
            border-right: 1px solid #E4E4E4;
            img {
                width: 12px;
                height: 12px;
            }
        }
        p {
            display: inline-block;
            width: 79%;
            text-align: center;
            height: 100%;
        }
    }

    &__auth-name{
        
        margin: auto;
    } 
}