.pagination {
    margin-bottom: 100px;

    &--width {
        margin: auto;
        margin-bottom: 35px;
        padding-top: 30px;
    }

    @include b(mobile) {
        display: none;
    }
    &__wrapp {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__previous {
        position: relative;
        margin-right: 50px;
        a {
            color: #C4C4C4;
        }
        &:before {
            content:'';
            display: inline-block;
            position: absolute;
            left: -19px;
            top: 6px;
            border-bottom: 1px solid #C4C4C4;
            border-left: 1px solid #C4C4C4;
            width: 13px;
            height: 13px;
            transform: rotate(45deg);
        }
    }

    &__item {
        margin-right: 32px;
        font-weight: 500;
        &.active {
            width: 24px;
            height: 24px;
            background-color: #303030;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                color: #fff;
            }
        }
    }

    &__next {
        position: relative;
        margin-left: 20px;
        &::after {
            content:'';
            display: inline-block;
            position: absolute;
            right: -19px;
            top: 6px;
            border-bottom: 1px solid #303030;
            border-left: 1px solid #303030;
            width: 13px;
            height: 13px;
            transform: rotate(-135deg);
        }
    }
}
