.product {
  &__tabs {
    margin-bottom: 120px;
    @include b(mobile) {
      margin-bottom: 45px;
    }
  }

  &__accordion{
    @include b(mobile) {
      padding-top: 24px;
    }
    @include b(550) {
      padding-top: 16px;
    }
  }

  &__responsive-title{
    display: none;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #303030;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid #E4E4E4;
    transition: all .2s;
    a {
      width: 100%;
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
    &:after {
      content:'';
      display: flex;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      width: 10px;
      height: 10px;
      margin-top: -2px;
      transform: rotate(-45deg);
    }             
    @include b(mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &.activeArrow {
      &:after {
        border-left: none;
        transform: rotate(0deg);
      }
    }
  }

  &__tabs-wrapp {
    .nav-tabs {
        display: flex;
        justify-content: center;
        @include b(mobile) {
            display: none;
        }
    }
    
    .tab-content > .tab-pane {
        @include b(mobile) {
            display: block !important;
            opacity: 1;
        }
    }
    
    .tab-content {
        padding-top: 82px;
        @include b(mobile) {
            padding-top: 0;
        }
    }
    
    @media(min-width:769px) {
        .card .collapse{
            display:block;
        }
    }
    
  }

  &__description-title {
    line-height: 28px;
    color: #f60403;
    margin-bottom: 24px;
    display: block;
    @include b(mobile) {
      margin-bottom: 16px;
      font-size: 16px;
    }
    @include b(550) {
      margin-bottom: 12px;
    }
  }

  &__description {
    font-weight: 300;
    line-height: 28px;
    @include b(mobile) {
      font-size: 16px;
    }
  }

  &__previews-author {
      margin-bottom: 32px;
  }

  &__previews-author-wrapp{
    display: flex;
    margin-bottom: 16px;
    @include b(500) {
      font-size: 16px;
    }
    span {
        text-transform: uppercase;
        font-weight: 500;
        
      }

      p {
          display: inline-block;
          text-transform: uppercase;
          margin-left: 5px;
      }
  }

  &__previews-author-date{
      font-weight: 500;
  }

  &__previews-descr {
      p {
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 24px;
          @include b(550) {
            font-size: 16px;
          }
      }
  }

  &__previews-slider {
    margin-bottom: 24px;
    .slick-dots {
      padding-top: 12px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-size: 0;
        width: 6px;
        height: 6px;
        background-color: #6F6F6F;
        border-radius: 50%;
        margin-right: 15px;
      }
      .slick-active {
        background: #303030;
        width: 8px;
        height: 8px;
      }
    }
    @include b(mobile) {
      margin: 0 -45px;
      margin-bottom: 16px;
    }

    @include b(500) {
      margin-bottom: 24px; 
    }

    .slick-track {
      display: flex;
    }
    
    .slick-list {
      overflow: hidden;
    }
    
    .slick-slider {
      position: relative;
    }

    .slick-initialized .slick-center {
      display: block;
    }
    
    .slick-arrow {
      top: 50%;
      z-index: 400;
      &.slick-prev {
        left: 83px;
        transform: rotate(45deg);
      }
      &.slick-next {
      transform: rotate(-135deg);
        right: 83px;
      }
    }
    
  }

  &__previews-slider-item {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__previews-advantages {
    span {
      font-weight: 500;
    }
    ul {
      margin-bottom: 24px;
    }
    li {
      @include b(550) {
        font-size: 16px;
      }
    }
  }

  &__previews-comments {
    background-color: #E4E4E4;
    border-radius: 6px;
    padding: 40px 31px;
    position: relative;

    &--indent {
      margin-bottom: 20px;
      &:nth-child(odd) {
        background-color: #fff;
        border: 1px solid #c4c4c4;
      }
    }
    &--slider {
        background-color: #fff;
        border: none;
        font-weight: 300;
        padding: 40px 0;
    }
  }

  &__previews-comments-name {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
    font-weight: 500;
  }

  &__previews-comments-text {
    font-size: 16px;
    line-height: 20px;
    @include b(550) {
      font-size: 14px;
    }
    &--indent {
      margin-bottom: 18px;
    }
  }

  &__previews-comments-rating{
    position: absolute;
    top: 33px;
    right: 30px;
  }

  &__previews-comments-date{
    font-size: 12px;
    font-weight: 400;
  }

  &__previews-paymen-title {
    font-weight: 500;
    font-size: 18px;
  }

  &__previews-payment {
    p {
      margin-bottom: 20px;
      font-size: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  

  &__previews-paymen-list {
    list-style: decimal;
    list-style-position:inside;
    margin-bottom: 16px;
      li {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
      }
  }

  &__previews-payment-transportation {
    margin-bottom: 24px;
    display: flex;
    @include b(550) {
      flex-direction: column;
      margin-bottom: 106px;
    }
    img {
      width: auto;
      height: auto;
    }
  }

  &__previews-payment-img{
    width: 145px;
    height: 80px;
    border: 1px solid #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    @include b(550) {
      width: 100%;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__previews-recall-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 46px;
    
  }

  &__previews-recall-title{
    font-size: 30px;
    line-height: 37px;
    color: #303030;
    @include b(550) {
      display: none;
    }
  }

  &__previews-recall-submit{
    max-width: 293px;
    @include b(550) {
      max-width: 100%;
    }
  }

  &__previews-recall-next{
     display: flex;
    justify-content: center;
  }

  &__previews-recall-nextBtn{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 22px;
    border-bottom: 1px solid #000;
  }

  &__viewed{
    padding-bottom: 120px;
  }

  &__viewed-slider {
     margin: 0 auto;
    .slick-track {
      display: flex;
    }
    
    .slick-list {
      overflow: hidden;
    }
    
    .slick-slider {
      position: relative;
      width: 371px;
    }
  }

  

  &__viewed-slider {
    position: relative;
    margin: 0 -12px;
    .slick-dots {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -32px;
      li {
        font-size: 0;
        width: 6px;
        height: 6px;
        background-color: #CAC7C7;
        border-radius: 50%;
        margin-right: 15px;
      }
      .slick-active {
        background: #303030;
        width: 8px;
        height: 8px;
      }
  }
}

  &__viewed-slider-item {
    display: flex;
    justify-content: center;
    padding: 0 12px;

    &--width {
      width: 25%;
      @include b(1024) {
        width: 33.333%;
        &:nth-child(4) {
          display: none;
        }
      }
      @include b(mobile) {
        width: 50%;
        &:nth-child(3), &:nth-child(4) {
          display: none;
        }
      }
      @include b(500) {
        width: 100%;
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
    
}


