.product {
  padding-bottom: 105px;
  @include b(mobile) {
    padding-bottom: 50px;
  }
  @include b(500) {
    padding-bottom: 11px;
  }

  &__images {
    display: flex;
    @include b(1398) {
      width: 50%;
      display: block;
    }
    @include b(mobile) {
      display: block;
      width: 100%;
    }
  }

  &__slider-favorites {
    display: none;
    @include b(1398) {
      display: inline-block;
      position: absolute;
      top: 36px;
      right: 24px;
      z-index: 210;
    }
    @include b(mobile) {
      right: -6px;
    }
    @include b(500) {
      top: 22px;
      right: 7px;
    }
  }

  &__slider {
    padding-top: 35px;
    display: flex;
    align-items: center;
    height: 733px;
    position: relative;
    @include b(1398) {
      height: 100%;
      display: block;
      padding-top: 0;
    }
  }
  &__wrapper {
    display: flex;
    position: relative;
    @include b(mobile) {
      flex-direction: column;
    }
  }

  &__wrap-slider {
    position: relative;
    padding: 80px 0;
    @include b(1398) {
      background-color: #f8f8f8;
      position: relative;
      min-width: 0;
    }
    @include b(mobile) {
      width: calc(100% + 90px);
      margin: 0 -45px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
      height: 768px;
    }
    
    @include b(500) {
      max-height: 100%;
      height: 600px;
      width: calc(100% + 30px);
      margin: 0 -15px;
      margin-bottom: 15px;
    }

    @include b(320) {
      height: 322px;
    }

    .slick-track {
      display: flex;
      flex-direction: column;
      @include b(1398) {
        flex-direction: row;
      }
      @include b(400) {
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    .slick-slider {
      position: relative;
      width: 153px;
      @include b(1398) {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include b(mobile) {
        margin-bottom: 32px;
        padding: 80px 0;
      }
    }

    .slick-arrow {
      font-size: 0;
      display: block;
      position: absolute;
      left: 46%;
      top: auto;
      border: none;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      width: 14px;
      height: 14px;
      &.slick-prev {
        top: -8px;
        transform: rotate(135deg);
      }
      &.slick-next {
        left: 43%;
        bottom: 25px;
      transform: rotate(-45deg);
      }
    }


    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 33px;
      margin-bottom: 0;
      @include b(500) {
        bottom: 12px;
      }
      li {
        font-size: 0;
        width: 6px;
        height: 6px;
        background-color: #cac7c7;
        border-radius: 50%;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .slick-active {
        background: #979797;
        width: 8px;
        height: 8px;
      }
    }
  }

  &__slider-items, &__slider-items-360 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 153px;
    padding: 12px;
    background-color: #f8f8f8;
    margin-bottom: 32px;
    position: relative;
    cursor: pointer;
    &:first-child {
      display: none;
    }
    @include b(1398) {
      margin-bottom: 0;
      padding: 0;
      height: auto;
      &:first-child {
        display: flex ;
      }
    }
    @include b(mobile) {
      width: 100%;
      height: auto;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      @include b(320) {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }

  &__slider-review{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    &.active {
      justify-content: space-between;
      img {
        &:first-child {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
        &:nth-child(3) {
          display: block;
        }
      }
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__image {
    width: 733px;
    height: 733px;
    margin-left: 29px;
    margin-right: 31px;
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include b(1398) {
      display: none;
    }
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__discount {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 10;
    padding: 15px 50px;
    background: #ff5660;
    text-transform: uppercase;
    line-height: 22px;
    color: #fff;

    &--slider {
      display: none;
      @include b(1398) {
        display: block;
        left: 0;
      }
      @include b(mobile) {
        left: -45px;
      }
      @include b(500) {
        left: -15px;
        font-size: 14px;
        padding: 5px 26px;
        top: 19px;
      }
    }
  }
  
  &__info {
    @include b(1398) {
      width: 50%;
      padding-left: 30px;
    }
    @include b(mobile) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__info-title {
    font-size: 36px;
    color: #303030;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    @include b(mobile) {
      font-size: 34px;
      margin-bottom: 25px;
    }
    @include b(500) {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }

  &__info-rating {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    @include b(mobile) {
      margin-bottom: 41px;
    }
    @include b(500) {
      margin-bottom: 23px;
    }
    p {
      font-size: 16px;
      color: #303030;
      @include b(500) {
        font-size: 12px;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 18px;
        background-color: #6f6f6f;
        margin-left: 24px;
        margin-right: 27px;
        margin-bottom: -3px;
        @include b(500) {
          margin-left: 16px;
          margin-right: 14px;
        }
      }
      span {
        color: #000;
      }
    }
  }

  &__info-num {
    
  }

  .count {
    max-width: 459px;
    flex-direction: row;
    padding: 24px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
      &__wrap{
          margin-bottom: 0;
      }
  }

  &__info-star {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      display: flex;
      @include b(500) {
        max-width: 16px;
        max-height: 16px;
      }
    }
    span {
      color: #6f6f6f;
      line-height: 22px;
      margin-left: 10px;

      @include b(500) {
        font-size: 12px;
        margin-left: 15px;
      }
    }
  }

  .count {
    margin: 0;
    @include b(mobile) {
        margin-bottom: 12px;
    }
  }

  &__info-prise {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-top: 15px;
    @include b(mobile) {
      order: 2;
      justify-content: space-between;
      margin-bottom: 0;
    }
    @include b(550) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
    &-wrap {
      display: flex;
      align-items: center;
      @include b(500) {
        margin-bottom: 18px;
      }
    }
    span {
      font-size: 20px;
      color: #303030;
      @include b(550) {
        font-size: 16px;
      }
    }
    p {
      color: #5294ab;
      font-size: 30px;
      margin-left: 35px;
      @include b(550) {
        font-size: 22px;
      }
    }
  }

  &__sale{
    font-size: 22px;
    color: #303030;
    text-decoration: line-through;
    font-size: 24px !important;
    padding-left: 24px;
    
    @include b(1024) {
        text-align: right;
        font-size: 18px;
        line-height: 0px;
    }
  }

  &__info-quantity {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    @include b(mobile) {
      margin-bottom: 15px;
    }
    @include b(500) {
      margin-bottom: 12px;
    }
  }

  &__info-quantity-wrap {
    display: flex;

    @include b(mobile) {
      margin-bottom: 22px;
    }
    @include b(500) {
      margin-bottom: 14px;
    }
  }

  &__info-quantity-field {
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    width: 142px;
    margin-right: 43px;
    display: flex;
    justify-content: space-between;

    &.input-group {
      margin-right: 17px;
    }
  }

  &__info-quantity-min {
    border: none;
    background-color: transparent;
    position: relative;
    width: 33.3333%;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 17px;
      width: 14px;
      height: 2px;
      border-radius: 5px;
      background-color: #303030;
    }
  }

  &__info-quantity-input {
    text-align: center;
    border: none;
    width: 33.3333%;
    @include b(mobile) {
      height: 48px;
    }
  }

  &__info-quantity-max {
    border: none;
    background-color: transparent;
    position: relative;
    width: 33.3333%;
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 17px;
      width: 14px;
      height: 2px;
      border-radius: 5px;
      background-color: #303030;
    }

    &:before {
      transform: rotate(90deg);
    }
  }

  &__info-btn {
    width: 212px;
    @include b(mobile) {
      display: none;
    }
    &--responsive {
      display: none;
      @include b(mobile) {
        display: block;
        width: 184px;
      }
      @include b(550) {
        width: 100%;
      }
    }
    &--slider {
      @include b(mobile) {
        display: block;
      }
    }
  }

  &__info-descr {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 32px;
    display: block;
    max-width: 456px;
    @include b(500) {
      font-size: 12px;
      margin-bottom: 26px;
    }
  }

  &__info-return {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    color: #7b1839;
    text-transform: uppercase;
    position: relative;
    @include b(mobile) {
      margin-bottom: 32px;
    }
    @include b(500) {
      font-size: 16px;
      margin-bottom: 22px;
    }
    &:before {
      content: "";
      background: url(../images/svg/arrow_product.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 22px;
      height: 11px;
      margin-right: 19px;
      @include b(500) {
        margin-right: 10px;
      }
    }
  }

  &__info-characteristics {
    width: 100%;
  }

  &__info-caption{
      display: block;
      margin-bottom: 17px;
      text-transform: uppercase;
      color: #303030;
      line-height: 22px;
      @include b(500) {
        font-size: 16px;
      }
  }

  &__info-table-cell{
    display: flex;
    justify-content: space-between;
    max-width: 405px;
    p {
       line-height: 32px;
       font-weight: 400;
       font-size: 18px;
       color: #303030;
       width: 189px;
       @include b(500) {
        font-size: 16px;
      }
    }

    span {
       line-height: 32px;
       font-weight: 300;
       font-size: 18px;
       color: #000;
       width: 102px;
       @include b(500) {
         font-size: 16px;
         text-align: right;
       }
    }
  }
}
