.product {
  &__tabs {
    margin-bottom: 120px;
  }

  &__tabs-wrapp {
  }

  &__description-title {
    line-height: 28px;
    color: #f60403;
    margin-bottom: 24px;
    display: block;
  }

  &__description {
    font-weight: 300;
    line-height: 28px;
  }

  &__previews-author {
      margin-bottom: 32px;
  }

  &__previews-author-wrapp{
    display: flex;
    margin-bottom: 16px;
    span {
        text-transform: uppercase;
        font-weight: 500;

      }

      p {
          display: inline-block;
          text-transform: uppercase;
          margin-left: 5px;
      }
  }

  &__previews-author-date{
      font-weight: 500;
  }

  &__previews-descr {
      p {
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 24px;
      }
  }

  &__previews-slider {
    margin-bottom: 24px;
    .slick-track {
      display: flex;
    }
    
    .slick-list {
      overflow: hidden;
    }
    
    .slick-slider {
      position: relative;
    }

    .slick-initialized .slick-center {
      display: block;
    }
    
    .slick-arrow {
      font-size: 0;
      display: block;
      position: absolute;
      top: 50%;
      border: none;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      width: 30px;
      height: 30px;
      &.slick-prev {
        left: 0;
        transform: rotate(45deg);
      }
      &.slick-next {
      transform: rotate(-135deg);
        right: 0;
      }
    }
    
  }

  &__previews-slider-item {
    text-align: center;
    img {
      width: auto;
      height: auto;
      object-fit: cover;
    }
  }

  &__previews-advantages {
    span {
      font-weight: 500;
    }
    ul {
      margin-bottom: 24px;
    }
  }

  &__previews-comments {
    background-color: #E4E4E4;
    border-radius: 6px;
    padding: 40px 31px;
    position: relative;

    &--indent {
      margin-bottom: 20px;
      &:nth-child(odd) {
        background-color: #fff;
        border: 1px solid #c4c4c4;
      }
    }
  }

  &__previews-comments-name {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 13px;
    display: block;
  }

  &__previews-comments-text {
    font-size: 16px;
    line-height: 20px;
    &--indent {
      margin-bottom: 18px;
    }
  }

  &__previews-comments-rating{
    position: absolute;
    top: 33px;
    right: 30px;
  }

  &__previews-comments-date{
    font-size: 12px;
  }

  &__previews-paymen-title {
    font-weight: 500;
    font-size: 18px;
  }

  &__previews-payment {
    p {
      margin-bottom: 20px;
      font-size: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  

  &__previews-paymen-list {
    list-style: decimal;
    list-style-position:inside;
    margin-bottom: 16px;
      li {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;
      }
  }

  &__previews-payment-transportation {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    img {
      width: auto;
      height: auto;
    }
  }

  &__previews-payment-img{
    width: 145px;
    height: 80px;
    border: 1px solid #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__previews-recall-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }

  &__previews-recall-title{
    font-size: 30px;
    line-height: 37px;
    color: #303030;
  }

  &__previews-recall-next{
     display: flex;
    justify-content: center;
  }

  &__previews-recall-nextBtn{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #000;
  }

  &__viewed{
    padding-bottom: 120px;
  }

  &__viewed-slider {
     margin: 0 auto;
    .slick-track {
      display: flex;
    }
    
    .slick-list {
      overflow: hidden;
    }
    
    .slick-slider {
      position: relative;
      width: 371px;
    }
    
    .slick-arrow {
      font-size: 0;
      display: block;
      position: absolute;
      top: 50%;
      border: none;
      border-bottom: 1px solid #000;
      border-left: 1px solid #000;
      width: 30px;
      height: 30px;
      &.slick-prev {
        left: 0;
        transform: rotate(45deg);
      }
      &.slick-next {
      transform: rotate(-135deg);
        right: 0;
      }
    }
  }

  &__viewed-slider {
    
  }

  &__viewed-slider-item {
    display: flex;
    justify-content: center;
  }
    
}


