.product {
    padding-bottom: 120px;
  .breadcrumb {
    background-color: #fff;
  }

  .breadcrumb-item {
    &:before {
      font-size: 12px;
    }
    a {
      color: #6f6f6f;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .slick-track {
    display: flex;
    flex-direction: column;
    @include b(1024) {
      flex-direction: row;
    }
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-slider {
    position: relative;
    width: 153px;
    padding: 80px 0;
    @include b(1024) {
      width: 733px;
      height: 733px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .slick-arrow {
    font-size: 0;
    display: block;
    position: absolute;
    left: 50%;
    border: none;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    width: 14px;
    height: 14px;
    transform: rotate(-45deg);
    &.slick-prev {
      top: 0;
      transform: rotate(135deg);
    }
    &.slick-next {
      bottom: 0;
    }
  }

  &__wrapper {
    display: flex;
    position: relative;
  }

  &__slider {
  }

  &__wrap-slider {
    
    @include b(1024) {
      background-color: #f8f8f8;
      position: relative;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 33px;
      li {
        font-size: 0;
        width: 6px;
        height: 6px;
        background-color: #CAC7C7;
        border-radius: 50%;
        margin-right: 15px;
      }
      .slick-active {
        background: #979797;
        width: 8px;
        height: 8px;
      }
    }
    
  }

  &__slider-items {
    text-align: center;
    width: 153px;
    height: 153px;
    padding: 12px;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    cursor: pointer;
    @include b(1024) {
      width: 550px;
      height: 550px;
      margin-bottom: 0;
      padding: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__image {
      width: 733px;
      height: 733px;
      margin-left: 41px;
      margin-right: 31px;
      background-color: #F8F8F8;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include b(1024) {
        display: none;
      }
      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
  }

  &__discount {
      position: absolute;
      top: 24px;
      left: 0;
      z-index: 10;
      padding: 15px 50px;
      background: #FF5660;
      text-transform: uppercase;
      line-height: 22px;
      color: #fff;
      
      &--slider {
        display: none;
        @include b(1024) {
          display: block;
        }
      }
  }

  &__info {

  }

  &__info-title {
      font-size: 36px;
      color: #303030;
      text-transform: uppercase;
      margin-bottom: 24px;
      display: block;
  }

  &__info-rating {
      display: flex;
      align-items: center;
      margin-bottom: 54px;
  }

  &__info-num {
      font-size: 16px;
      &::after {
        content:'';
        display: inline-block;
        width: 1px;
        height: 18px;
        background-color: #6F6F6F;
        margin-left: 24px;
        margin-right: 27px;
        margin-bottom: -3px;
      }
  }

  &__info-star {
      display: flex;
      align-items: center;
      cursor: pointer;
        span {
            color: #6F6F6F;
            line-height: 22px;
            margin-left: 10px;
        }
  }

  &__info-prise {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      span {
          font-size: 20px;
          color: #303030;
      }
      p {
         color: #5294AB; 
         font-size: 30px;
         margin-left: 35px;
      }
  }

  &__info-quantity {
      display: flex;
      margin-bottom: 24px;
  }



  &__info-quantity {
  
  }

  &__info-quantity-field {
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    width: 142px;
    margin-right: 43px;
    display: flex;
    justify-content: space-between;
  }

  &__info-quantity-min {
    border: none;
    background-color: transparent;
  }

  &__info-quantity-input {
    text-align: center;
    border: none;
  }

  &__info-quantity-max {
    border: none;
    background-color: transparent;
  }

  &__info-btn {
      max-width: 212px;
  }

  &__info-descr {
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 32px;
      display: block;
      max-width: 456px;
  }

  &__info-return {
      display: flex;
      align-items: center;
      margin-bottom: 54px;
      color: #7B1839;
      text-transform: uppercase;
      position: relative;
      padding-left: 40px;
        &::before {
            content:'';
            position: absolute;
            left: 0;
            border-bottom: 1px solid #7B1839;
            border-left: 1px solid #7B1839;
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
        }
        &:after {
            content:'';
            position: absolute;
            left: -1px;
            top: 11px;
            display: block;
            width: 21px;
            height: 1px;
            background-color: #7B1839;
        }
  }

  &__info-characteristics {
      span {
          display: block;
          margin-bottom: 17px;
          text-transform: uppercase;
          color: #303030;
          line-height: 22px;
      }
        td {
          background-color: #fff;
          width: 400px;
          border: none;
          padding-left: 0;
      }
  }
}
