.subscription {
    display: flex;
    justify-content: center;
    width: 100%;
    input {
        height: 40px;
        border-radius: 4px 0 0 4px;
    }
    @include b(mobile) {
        align-items: center;
    }
    @include b(500) {
        flex-direction: column;
    }
    &__title {
        max-width: 460px;
        margin-right: 56px;
        font-size: 16px;
        @include b(mobile) {
            margin-right: 0;
        }
        @include b(500) {
            text-align: center;
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__input {
        max-width: 335px;
        border-right: 0px;
        @include b(500) {
            max-width: 100%;
            margin-bottom: 11px;
        }
    }

    &__btn {
        max-width: 159px;
        max-height: 40px;
        font-size: 14px;
        @include b(500) {
            max-width: 100%;
        }
    }

    &__btn-like {
        max-width: 160px;
        max-height: 40px;
        font-size: 14px;
        margin-left: 41px;

        @include b(mobile) {
            display: none;
        }

        &:hover {
            background-color: darken( #5294ab,  5%);
            color: #fff;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            margin-left: 10px;
            display: block;
        }
    }
}
