.nav {
    border-bottom: 1px solid #E4E4E4;
}
.nav-tabs {
    display: flex;
    justify-content: center;
}
.nav-item {
    margin-bottom: -2px;

}
.nav-link {
    font-size: 32px;
    color: #303030;
    padding: 15px 40px;
    &.active {
        border-bottom: 2px solid #000;
    }

}
.active {
    border-color: #000;

}
.tab-content {
    padding-top: 82px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #000;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 1px solid transparent;
}


