.nav {
    border-bottom: 1px solid #E4E4E4;
}
.nav-tabs {
    display: flex;
    justify-content: center;
    @include b(1024) {
        flex-wrap: nowrap;
    }
}
.nav-item {
    margin-bottom: -2px;
}
.nav-link {
    font-size: 32px;
    color: #303030;
    padding: 15px 40px;
    font-weight: 500;
    padding: 17px 15px;
    margin-right: 50px;
    @include b(1024) {
        font-size: 24px;
        margin-right: 25px;
    }
    @include b(550) {
        font-size: 16px;
        text-align: center;
        padding: 10px 10px;
        margin-right: 0;
        height: 100%;
    }
    @include b(350) {
        font-size: 14px;
    }
    &.active {
        border-bottom: 1px solid #000;
        color: #303030;
    }
}
.active {
    border-color: #000;
}

.tab-content {
    padding-top: 82px;
    @include b(mobile) {
        padding-top: 66px;

    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #000;
    border-top: none;
    border-left: none;      
    border-right: none;
}

.nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
}

.card {
    border: none;

    &.active {
        text-transform: none;
        font-size: inherit;
    }
}


