@import "mixins.scss";

.topMenu {
  position: relative;
  padding-bottom: 32px;
  border-bottom: 1px solid #5294ab;
  @include b(tablet) {
    padding-bottom: 0;
  }

  &__wrap-nav {
    width: 100%;
    @include b(tablet) {
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 20;
      overflow: auto;
      background-color: #fff;
      @include trs;
    }
  }

  &__nav {
    @include b(tablet) {
      height: 100%;
    }
  }

  &__nav-list {
    position: relative;
    @include b(tablet) {
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: start;
      align-items: flex-start;
      padding: 0 15px;
    }
  }

  &__logo {
    @include b(tablet) {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__nav-item,
  &__nav-item--arrow {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    padding: 0 16px;
    text-transform: uppercase;
    z-index: 5;
    display: flex;

    &:last-child {
      margin-right: 0;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      .topMenu__submenu {
        opacity: 1;
        overflow: visible;
        display: block;
      }
    }

    @include b(tablet) {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
    }
    @include b(1340) {
      padding: 0 8px;
      font-size: 13px;
    }
  }

  &__nav-item--arrow {
    &::after {
      content: "";
      display: inline-block;
      margin-top: 5px;
      margin-left: 9px;
      z-index: 200000;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #3c474c;
      border-left: 1px solid #3c474c;
      transform: rotate(-45deg);
      transition: all 0.3s;
      cursor: pointer;
      @include b(tablet) {
        right: 0;
      }
    }
    &:hover::after {
      transform: rotate(-230deg);
      top: 7px;
    }
  }

  //hidden menu-----------------------------------------

  &__hiddenMenu {
    padding-top: 75px;
    padding-left: 210px;
    padding-bottom: 138px;
    position: absolute;
    display: flex;
    z-index: 100;
    width: 100%;
    max-height: 100vh;
    top: -100%;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.2s linear;
    overflow: auto;
    flex-direction: column;
    @include b(tablet) {
      width: 100%;
      flex-direction: column;
      position: fixed;
      background-color: #fff;
      padding: 39px 8px 80px 45px;
      @include trs;
    }
    @include b(1024) {
      padding-left: 50px;
      padding-bottom: 138px;
    }
    @include b(528) {
      padding-left: 15px;
      padding-right: 20px;
    }
    // &.openHiddenMenu {
    //   right: 0;
    // }
    &.show {
      top: 53px;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__hiddenMenu-wrap {
    display: flex;
    @include b(tablet) {
      flex-direction: column;
      padding-bottom: 80px;
      border-bottom: 1px solid #f3f3f3;
      padding-left: 0;
    }
    @include b(1438) {
      flex-wrap: wrap;
    }
  }

  &__hiddenMenu-sidebar {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__hiddenMenu-sibebarUl {
    margin-right: 155px;
    @include b(tablet) {
      margin-bottom: 24px;
      margin-right: 0;
    }
  }

  &__hiddenMenu-ul {
    width: 500px;
    &:nth-child(3) {
      width: 300px;
    }
    @include b(tablet) {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
    }
    @include b(1438) {
      width: 40%;
    }
    @include b(mobile) {
      width: 100%;
    }

    li {
      &:first-child .topMenu__hiddenMenu-item {
        margin-top: 0;
      }
    }
  }

  &__hiddenMenu-item {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
    display: table;
    &::after {
      content: "";
      position: absolute;
      bottom: 6px;
      right: -16px;
      margin-left: 9px;
      z-index: 200;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #3c474c;
      border-left: 1px solid #3c474c;
      transform: rotate(-135deg);
      transition: all 0.3s;
      cursor: pointer;
    }
    &--noarrow {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      padding-top: 24px;
      &:first-child {
        padding-top: 0;
      }
    }
    &.activeArrow {
      &::after {
        bottom: 9px;
        border: none;
        width: 11px;
        height: 1px;
        background-color: #000;
        transform: rotate(180deg);
      }
    }
  }

  &__hiddenMenu-sub {
    &.openSub {
      display: block;
    }

    &_2 {
      padding-top: 12px;
      padding-left: 12px;
      font-size: 14px;
    }
  }

  &__hiddenMenu-sub-item {
    position: relative;
    cursor: pointer;
    padding-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-transform: none;
    text-align: left;
    display: table;
    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      right: -16px;
      z-index: 200;
      width: 8px;
      height: 8px;
      border-bottom: 1px solid #3c474c;
      border-left: 1px solid #3c474c;
      transform: rotate(-45deg);
      transition: all 0.3s;
      cursor: pointer;
    }
    &:first-child {
      padding-top: 16px;
    }

    &:first-child::after {
      top: 16px;
    }

    &.removeArrow {
      &:after {
        content: "";
        display: none;
      }
    }

    &--noarrow {
      cursor: pointer;
      margin-bottom: 12px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-transform: none;
      display: flex;
      align-items: center;
      img {
        max-width: 40px;
        max-height: 40px;
        margin-right: 10px;
      }
      &:first-child {
        padding-top: 16px;
      }
    }

    &.activeArrowSub {
      &:after {
        transform: rotate(-230deg);
        bottom: 4px;
      }
      &:first-child {
        &:after {
          top: 20px;
        }
      }
    }
  }

  &__hiddenMenu-sub-item_2 {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__hiddenMenu-cardWrapp {
    display: flex;
    margin-left: 30px;
    @include b(1438) {
      margin-left: 0;
    }
    @include b(mobile) {
      display: none;
    }
  }
  //settings ------------------------------------------------

  &__hiddenMenu-setting {
    padding-top: 40px;
    padding-bottom: 20px;
    display: none;
    @include b(1700) {
      display: block;
    }
    @include b(tablet) {
      padding-bottom: 40px;
    }

    &_region {
      position: relative;
      display: inline-block;
      &:hover::after {
        transform: rotate(135deg);
        top: 6px;
      }
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: inline-block;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 13px;
        transition: all 0.2s;
        &::after {
          content: "";
          position: absolute;
          top: 4px;
          right: -17px;
          border-bottom: 1px solid #000;
          border-left: 1px solid #000;
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-bottom: 4px;
          transform: rotate(-45deg);
          @include trs;
        }
        &.transformArrow {
          &::after {
            transform: rotate(135deg);
            top: 8px;
          }
        }
      }
    }

    &_wrap {
      display: flex;
      padding-bottom: 13px;
    }

    &_region_item {
      display: flex;
      font-size: 12px;
      line-height: 15px;
      color: #303030;
      align-items: center;
      margin-right: 19px;
    }

    &_lang {
      margin-bottom: 16px;
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 13px;
        display: inline-block;
      }
    }

    &_lang-wrap {
      display: flex;
    }

    &_lang-item {
      position: relative;
      padding-right: 19px;
      margin-right: 19px;
      font-size: 12px;
      line-height: 15px;
      color: #303030;
      &::after {
        content: "";
        position: absolute;
        margin-left: 19px;
        display: inline-block;
        width: 1px;
        height: 18px;
        background: #e5e5e5;
      }
    }

    &_currency {
      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 13px;
        display: inline-block;
      }
    }

    &_currency-wrap {
      display: flex;
    }

    &_currency-item {
      position: relative;
      padding-right: 19px;
      margin-right: 19px;
      font-size: 12px;
      line-height: 15px;
      color: #303030;
      &::after {
        content: "";
        position: absolute;
        margin-left: 19px;
        display: inline-block;
        width: 1px;
        height: 18px;
        background: #e5e5e5;
      }
    }
  }
  //settings ------------------------------------------------
}
