@import "block/fonts.scss";
@import "block/mixins.scss";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 18px;
  font-family: "Cera Pro", sans-serif, Arial;
  font-weight: 400;
}

@include b(tablet) {
  .overflow {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

h3,
h2 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 500;
  color: #30394a;
  margin: 0 0 30px;
}

.container {
  max-width: 1816px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  &--page {
    max-width: 1590px;
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 48px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Cera Pro", sans-serif, Arial;
  background-color: #9e3d5f;
  border: 1px solid #9e3d5f;
  border-radius: 4px;
  color: #ffff;
  cursor: pointer;
  @include trs;

  &:hover {
    background-color: #fff;
    color: #9e3d5f;
  }

  &--turquoise {
    background-color: #5294ab;
    border: 1px solid #5294ab;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #5294ab;
    }
  }

  &--white {
    background-color: #fff;
    color: #9e3d5f;
    &:hover {
      background-color: #9e3d5f;
      color: #fff;
    }
  }

  &--transparent {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover {
      background-color: #9e3d5f;
      color: #fff;
    }
  }
}

input[type="search"],
input[type="text"] {
  display: block;
  width: 100%;
  height: 39px;
  padding: 10px 22px;
  border: none;
  border: 1px solid #000;
  border-radius: 50px;
  background: none;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #3c4146;
  transition: all 0.2s;
  @include b(490) {
    font-size: 12px;
  }
  @include b(tablet) {
    font-size: 14px;
  }
  &::placeholder {
    color: #3c4146;
    font-weight: 500;
  }
  &:focus {
    box-shadow: 0 0 3px 1px #68a8e0;
  }
}

input[type="text"] {
  border: 1px solid #fff;
  color: #fff;
  &::placeholder {
    color: #fff;
    font-weight: 500;
  }
}

input[type="file"] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px dashed #cccc;
  background: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
  &::placeholder {
    color: #ffffff;
  }
  &:focus {
    border-color: #282b31;
  }
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #cccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
  @include b(490) {
    font-size: 12px;
  }

  &::placeholder {
    color: #000;
  }
  &:focus {
    border-color: #282b31;
  }
}

.arrow {
  &::after {
    content: "";
    display: inline-block;
    margin-top: 5px;
    margin-left: 9px;
    z-index: 200000;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #3c474c;
    border-left: 1px solid #3c474c;
    transform: rotate(-45deg);
    transition: all 0.3s;
    cursor: pointer;
    @include b(tablet) {
      right: 0;
    }
  }
  &:hover::after {
    transform: rotate(-230deg);
    top: 7px;
  }
}
@import "block/slider.scss";
@import "block/header.scss";
@import "block/topMenu.scss";
@import "block/footer.scss";
@import "block/product.scss";
@import "block/breadcrumb.scss";
@import "block/productTabs.scss";
@import "block/tabs.scss";
@import "block/home.scss";
