<form action="" class="comment-form" method="post">
    <span class="comment-form__title">оставить отзыв</span>
    <div class="comment-form__rating">
        <span>Поставить оценку</span>
        <div>
            <img src="../assets/images/svg/rating.svg" alt="рейтинг">
            <img src="../assets/images/svg/rating.svg" alt="рейтинг">
            <img src="../assets/images/svg/rating.svg" alt="рейтинг">
            <img src="../assets/images/svg/rating.svg" alt="рейтинг">
            <img src="../assets/images/svg/rating.svg" alt="рейтинг">
        </div>
    </div>
    <div class="comment-form__text">
        <label>ваше СООБЩЕНИЕ</label>
        <textarea></textarea>
    </div>
    <div class="comment-form__file">
        <label for="file">Приложить фото
            <div class="comment-form__upload">выбрать</div>
        </label>
        <input type="file" name="file" id="file"></input>
    </div>
    <div class="comment-form__recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW">
        reCAPTCHA
    </div>
    <button class="button" type="submit">отправить</button>
</form>