<div class="basket">
    <div class="basket__wrapp">
        <div class="basket__title">
            <span>КОРЗИНА (21)</span>
            <button class="basket__close"></button>
        </div>
        <div class="basket__count">
            <img src="./assets/images/svg/delivery.svg" alt="delivery">
            <span>До бесплатной доставки осталось 344 грн</span>
        </div>
        <div class="basket__goods">
            <div class="goods goods--basket mr-0">
                <div class="goods__img">
                    <a href="#"><img src="./assets/images/item_tab_slider2.png" alt="spruce"></a>
                </div>
                <div class="goods__basket-wrap">
                    <a class="goods__descr">Елочная игрушка для вышивания бисером FLE-003</a>
                    <div class="goods__property">
                        <div class="goods__article">
                            <p>Артикул: <span>FLZB-023</span></p>
                            <p>Размер: <span>14х14,5см</span></p>
                        </div>
                        <img src="./assets/images/svg/trash.svg" alt="">
                    </div>
                    <div class="product__info-quantity-wrap pt-4">
                      <div class="input-group product__info-quantity-field">
                        <button class="product__info-quantity-min"></button>
                        <input type="number" step="1" min="1"  value="1" title="Qty" class="product__info-quantity-input">
                        <button class="product__info-quantity-max"></button>
                      </div>
                      <span class="goods__prise">130 грн</span>
                    </div>
                </div>
                <div class="product__info-quantity-wrap product__info-quantity-wrap--reponsive">
                    <div class="input-group product__info-quantity-field">
                      <button class="product__info-quantity-min"></button>
                      <input type="number" step="1" min="1"  value="1" title="Qty" class="product__info-quantity-input">
                      <button class="product__info-quantity-max"></button>
                    </div>
                    <span class="goods__prise">130 грн</span>
                    <img src="./assets/images/svg/trash.svg" alt="">
                </div>
            </div>  
            <div class="goods goods--basket mr-0">
                <div class="goods__img">
                    <a href="#"><img src="./assets/images/item_tab_slider2.png" alt="spruce"></a>
                </div>
                <div class="goods__basket-wrap">
                    <a class="goods__descr">Елочная игрушка для вышивания бисером FLE-003</a>
                    <div class="goods__property">
                        <div class="goods__article">
                            <p>Артикул: <span>FLZB-023</span></p>
                            <p>Размер: <span>14х14,5см</span></p>
                        </div>
                        <img src="./assets/images/svg/trash.svg" alt="">
                    </div>
                    <div class="product__info-quantity-wrap pt-4">
                      <div class="input-group product__info-quantity-field">
                        <button class="product__info-quantity-min"></button>
                        <input type="number" step="1" min="1"  value="1" title="Qty" class="product__info-quantity-input">
                        <button class="product__info-quantity-max"></button>
                      </div>
                      <span class="goods__prise">130 грн</span>
                    </div>
                </div>
                <div class="product__info-quantity-wrap product__info-quantity-wrap--reponsive">
                    <div class="input-group product__info-quantity-field">
                      <button class="product__info-quantity-min"></button>
                      <input type="number" step="1" min="1"  value="1" title="Qty" class="product__info-quantity-input">
                      <button class="product__info-quantity-max"></button>
                    </div>
                    <span class="goods__prise">130 грн</span>
                    <img src="./assets/images/svg/trash.svg" alt="">
                </div>
            </div>  
        </div >
        <div class="basket__delivery"> 
            <span class="">ориентировочная стоимость доставки в ваш регион:</span>
            <div class="basket__post">
                <p><img src="./assets/images/svg/Nova_Poshta.svg" alt="Нова пошта"></p>
                <span>45 грн</span>
            </div>

            <div class="basket__post">
                <p><img src="./assets/images/svg/ukrposhta.svg" alt="Нова пошта"></p>
                <span>50 грн</span>
            </div>
        </div>
        <div class="basket__checkout">
            <div class="basket__checkout-summ">
                <span>сумма заказа:</span>
                <p>260 грн</p>
            </div>
           <div class="basket__checkout-btn">
                <button class="button button--white">ПРОДОЛЖИТЬ ПОКУПКИ</button>
                <button class="button">оформить заказ</button>
           </div>
        </div>
    </div>
</div>