<div class="catalog__goods-wrapp">
    <div class="goods goods--other_w mr-0">
        <div class="goods__img goods__img--close">
            <a href="#"><img src="./assets/images/item1.png" alt="spruce"></a>
            <span class="home__discount">SALE -50%</span>
        </div>
        <p class="goods__descr goods__descr--fz18">Елочная игрушка для вышивания бисером FLE-003</p>
        <div class="goods__rating">
            <div class="goods__rating-wrap">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
            </div>
        </div>
        <div class="goods__property">
            <div class="goods__article">
                <p>Артикул: <span>FLZB-023</span></p>
                <p>Размер: <span>14х14,5см</span></p>
            </div>
            <span class="goods__prise">130 грн</span>
            <span class="goods__sale">85 грн</span>
        </div>
        <div class="product__info-quantity-wrap pt-4">
            <div class="input-group product__info-quantity-field ">
                <button class="product__info-quantity-min"></button>
                <input type="number" step="1" min="1" value="1" title="Qty"
                    class="product__info-quantity-input">
                <button class="product__info-quantity-max"></button>
            </div>
            <button class="product__info-btn product__info-btn--slider button"
                type="submit">Купить</button>
        </div>
    </div>
</div>
<div class="catalog__goods-wrapp">
    <div class="goods goods--other_w mr-0">
        <div class="goods__img goods__img--close">
            <a href="#"><img src="./assets/images/item1.png" alt="spruce"></a>
            <span class="home__discount">SALE -50%</span>
        </div>
        <p class="goods__descr goods__descr--fz18">Елочная игрушка для вышивания бисером FLE-003</p>
        <div class="goods__rating">
            <div class="goods__rating-wrap">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
            </div>
        </div>
        <div class="goods__property">
            <div class="goods__article">
                <p>Артикул: <span>FLZB-023</span></p>
                <p>Размер: <span>14х14,5см</span></p>
            </div>
            <span class="goods__prise">130 грн</span>
            <span class="goods__sale">85 грн</span>
        </div>
        <div class="product__info-quantity-wrap pt-4">
            <div class="input-group product__info-quantity-field ">
                <button class="product__info-quantity-min"></button>
                <input type="number" step="1" min="1" value="1" title="Qty"
                    class="product__info-quantity-input">
                <button class="product__info-quantity-max"></button>
            </div>
            <button class="product__info-btn product__info-btn--slider button"
                type="submit">Купить</button>
        </div>
    </div>
</div>
<div class="catalog__goods-wrapp">
    <div class="goods goods--other_w mr-0">
        <div class="goods__img goods__img--close">
            <a href="#"><img src="./assets/images/item1.png" alt="spruce"></a>
            <span class="home__discount">SALE -50%</span>
        </div>
        <p class="goods__descr goods__descr--fz18">Елочная игрушка для вышивания бисером FLE-003</p>
        <div class="goods__rating">
            <div class="goods__rating-wrap">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
            </div>
        </div>
        <div class="goods__property">
            <div class="goods__article">
                <p>Артикул: <span>FLZB-023</span></p>
                <p>Размер: <span>14х14,5см</span></p>
            </div>
            <span class="goods__prise">130 грн</span>
            <span class="goods__sale">85 грн</span>
        </div>
        <div class="product__info-quantity-wrap pt-4">
            <div class="input-group product__info-quantity-field ">
                <button class="product__info-quantity-min"></button>
                <input type="number" step="1" min="1" value="1" title="Qty"
                    class="product__info-quantity-input">
                <button class="product__info-quantity-max"></button>
            </div>
            <button class="product__info-btn product__info-btn--slider button"
                type="submit">Купить</button>
        </div>
    </div>
</div>
<div class="catalog__goods-wrapp">
    <div class="goods goods--other_w mr-0">
        <div class="goods__img goods__img--close">
            <a href="#"><img src="./assets/images/item1.png" alt="spruce"></a>
            <span class="home__discount">SALE -50%</span>
        </div>
        <p class="goods__descr goods__descr--fz18">Елочная игрушка для вышивания бисером FLE-003</p>
        <div class="goods__rating">
            <div class="goods__rating-wrap">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
                <img src="./assets/images/svg/rating.svg" alt="rating">
            </div>
        </div>
        <div class="goods__property">
            <div class="goods__article">
                <p>Артикул: <span>FLZB-023</span></p>
                <p>Размер: <span>14х14,5см</span></p>
            </div>
            <span class="goods__prise">130 грн</span>
            <span class="goods__sale">85 грн</span>
        </div>
        <div class="product__info-quantity-wrap pt-4">
            <div class="input-group product__info-quantity-field ">
                <button class="product__info-quantity-min"></button>
                <input type="number" step="1" min="1" value="1" title="Qty"
                    class="product__info-quantity-input">
                <button class="product__info-quantity-max"></button>
            </div>
            <button class="product__info-btn product__info-btn--slider button"
                type="submit">Купить</button>
        </div>
    </div>
</div>