<ul class="topMenu__hiddenMenu-ul topMenu__hiddenMenu-ul--width">
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#beadwork_catalog">ВЫШИВКА БИСЕРОМ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="beadwork_catalog">
            <li class="topMenu__hiddenMenu-sub-item" data-toggle="collapse" data-target="#open2">Набор для вышивания бисером на пластиковой основе FLPL</li>
            <li class="collapse" id="open2">
                <ul class="topMenu__hiddenMenu-sub_2">
                    <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Ловец снов</a></li>
                    <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Елочные игрушки</a></li>
                </ul>
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Набор для вышивания бисером по дереву FLK</li>
            <li class="topMenu__hiddenMenu-sub-item">Елочные игрушки для вышивания бисером FLE</li>
            <li class="topMenu__hiddenMenu-sub-item">Открытка для вышивки бисером FLO</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером FLF</li>
            <li class="topMenu__hiddenMenu-sub-item">Схемы для вышивания бисером FLS</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером" FLA</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с мольбертом FLMD
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с фигурной рамкой
                FLG</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с рамкой FLB</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером с фигурной
                рамкой" FLD</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidery_with_threads_catalog">ВЫШИВКА НИТКАМИ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="embroidery_with_threads_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания нитками на искусственной
                коже FLHL</li>
            <li class="topMenu__hiddenMenu-sub-item">Набор заготовок для вышивания по дереву FLSW
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивки нитками по дереву FLHW
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивания нитками на канве FLH
            </li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#accessories_for_needlework_catalog">АКСЕССУАРЫ ДЛЯ РУКОДЕЛИЯ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="accessories_for_needlework_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Органайзер для бисера FLZB</li>
            <li class="topMenu__hiddenMenu-sub-item">Шкатулка для рукоделия FLZB(N)</li>
            <li class="topMenu__hiddenMenu-sub-item">Магнитный держатель для игл FLMH</li>
            <li class="topMenu__hiddenMenu-sub-item">Нитковдеватель</li>
            <li class="topMenu__hiddenMenu-sub-item">Катушки для ниток FLC(S)</li>
            <li class="topMenu__hiddenMenu-sub-item">Органайзер для мулине FLZ</li>
            <li class="topMenu__hiddenMenu-sub-item">Наклейки для органайзеров FLZ(N)</li>
            <li class="topMenu__hiddenMenu-sub-item">Мольберт декоративный</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#thread_for_beading_catalog">НИТЬ ДЛЯ ВЫШИВАНИЯ БИСЕРОМ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="thread_for_beading_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Нить FLT</li>
            <li class="topMenu__hiddenMenu-sub-item">Нить набор FLT-S</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#preciosa_beads_catalog">Бисер Preciosa Ornela (Чехия)</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="preciosa_beads_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Белый</li>
            <li class="topMenu__hiddenMenu-sub-item">Бирюзовый</li>
            <li class="topMenu__hiddenMenu-sub-item">Голубой</li>
            <li class="topMenu__hiddenMenu-sub-item">Желтый</li>
            <li class="topMenu__hiddenMenu-sub-item">Жемчужный</li>
            <li class="topMenu__hiddenMenu-sub-item">Зеленый</li>
            <li class="topMenu__hiddenMenu-sub-item">Золотой</li>
            <li class="topMenu__hiddenMenu-sub-item">Коричневый</li>
            <li class="topMenu__hiddenMenu-sub-item">Красный</li>
            <li class="topMenu__hiddenMenu-sub-item">Морская волна</li>
            <li class="topMenu__hiddenMenu-sub-item">Оранжевый</li>
            <li class="topMenu__hiddenMenu-sub-item">Розовый</li>
            <li class="topMenu__hiddenMenu-sub-item">Салатовый</li>
            <li class="topMenu__hiddenMenu-sub-item">Серый</li>
            <li class="topMenu__hiddenMenu-sub-item">Синий</li>
            <li class="topMenu__hiddenMenu-sub-item">Фиолетовый/сиреневый</li>
            <li class="topMenu__hiddenMenu-sub-item">Черный</li>
            <li class="topMenu__hiddenMenu-sub-item">Разное</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#blanks_for_decoration_catalog">Заготовки для декорирования</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="blanks_for_decoration_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Заготовка фоторамки для декорирования FLPF</li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования 3D FLC-(3D)</li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования FLC</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#blanks_for_coloring_catalog">Заготовки для раскрашивания</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="blanks_for_coloring_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Раскраска по дереву FLY</li>
            <li class="topMenu__hiddenMenu-sub-item">Холст на подрамнике для рисования FLR</li>
            <li class="topMenu__hiddenMenu-sub-item">Раскраска - магнит FLV</li>
        </ul>
    </li>
   <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidered_products_catalog">Вышитые изделия</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="embroidered_products_catalog">
            <li class="topMenu__hiddenMenu-sub-item">Открытка на холсте FLO(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Картина в фигурной рамке FLG(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">ZМагнит на холсте FLA(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Картина с мольбертом FLMD(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Магнит с фигурной рамкой FLD(E)</li>
        </ul>
   </li>
</ul>