<div class="count">
    <div class="count__wrap js-deadline" data-deadline="January 27 2021 17:00:00 GMT+2">
        <span class="count__title">Осталось: </span>
        <div class="count__down">
            <div class="count__number">
              <p class="days count__time"></p>
              <p class="count__text">д</p>
            </div>
            <div class="count__number">
              <p class="hours count__time"></p>
              <p class="count__text">ч</p>
            </div>
            <div class="count__number">
              <p class="minutes count__time"></p>
              <p class="count__text">м</p>
            </div>
            <div class="count__number">
              <p class="seconds count__time"></p>
              <p class="count__text">с</p>
            </div>
        </div>
    </div >
    <a href="#" class="count__link">подробнее об акции</a>
</div>