<div class="comment-form__auth">
    <div class="comment-form__auth-item">
        <a href="#">
            <span><img src="../assets/images/svg/facebook_auth.svg" alt="Facebook"></span>
            <p>Facebook</p>
        </a>
    </div>
    <div class="comment-form__auth-item">
        <a href="#">
            <span><img src="../assets/images/svg/google_auth.svg" alt="Facebook"></span>
            <p>Google</p>
        </a>
    </div>
    <div class="comment-form__auth-item">
        <a href="#">
            <span><img src="../assets/images/svg/vk_auth.svg" alt="Facebook"></span>
            <p>Вконтакте</p>
        </a>
    </div>
</div>