<div class="forgot-password">
    <p class="forgot-password__title">
        восстановление пароля
    </p>
    <p class="forgot-password__descr">
        Введите адрес электронной почты, который вы указывали 
        при регистрации. Мы отправим письмо с информация 
        для восстановления пароля.
    </p>
    <form action="" class="forgot-password__form">
        <label>email*</label>
        <input type="email">
        <button class="button" type="submit">восстановить</button>
    </form>
</div>