<div class="go-to">
    <span class="go-to__title">ВХОД ЧЕРЕЗ СОЦИАЛЬНЫЕ СЕТИ</span>
    {{>enter}}
    <form action="" class="go-to__form">
        <div class="go-to__email">
            <label>email или имя пользователя*</label>
            <input type="email">
        </div>
        <div class="go-to__password">
            <label>пароль*</label>
            <input type="password">
        </div>
        <div class="go-to__remember">
            <input type="checkbox" name="remember" id="remember">
            <label for="remember" class="checkbox">Запомнить меня</label>
        </div>
        <div class="go-to__captcha"></div>
        <div class="go-to__btn">
            <button type="submit" class="button">ВОЙТИ</button>
            <a href="#" class="go-to__forgot">Забыли пароль?</a>
        </div>
    </form>
</div>