<div class="goods">
    <div class="goods__img">
        <a href="#"><img src="./assets/images/svg/spruce.png" alt="spruce"></a>
    </div>
    <a href="#" class="goods__descr">Органайзер для бисера с прозрачной крышкой FLZB-023</a>
    <div class="goods__rating">
        <img src="./assets/images/svg/rating.svg" alt="rating">
        <img src="./assets/images/svg/rating.svg" alt="rating">
        <img src="./assets/images/svg/rating.svg" alt="rating">
        <img src="./assets/images/svg/rating.svg" alt="rating">
        <img src="./assets/images/svg/rating.svg" alt="rating">
        <span><a href="#">30 отзывов</a></span>
    </div>
    <div class="goods__property">
        <div class="goods__article goods__article--fz">
            <p>Артикул: <span>FLZB-023</span></p>
            <p>Размер: <span>14х14,5см</span></p>
        </div>
        <span class="goods__prise">130 грн</span>
    </div>
</div>