<div class="goods goods--favorites mr-0">
    <div class="goods__img">
        <a href="#"><img src="./assets/images/item_tab_slider2.png" alt="spruce"></a>
    </div>
    <div class="goods__favorites-wrap">
        <div class="goods__property">
            <p>Арт. <span>1014201</span></p>
            <div class="goods__wrap-responsive">
                <a href="#" class="goods__descr">Елочная игрушка для вышивания бисером FLE-003</a>
                <span class="goods__price-responsive">ЦЕНА: 130 грн</span>
                <button class="goods__delete-responsive"><img src="./assets/images/svg/trash.svg" alt=""></button>
            </div>
        </div>
        <p class="goods__size"> <span>РАЗМЕР:</span> 14х14,5см</p>
        <p class="goods__price"><span>ЦЕНА:</span> 130 грн</p>
        <button class="goods__delete"><img src="./assets/images/svg/trash.svg" alt=""></button>
        <button type="submit" class="button">добавить в корзину</button>
    </div>
    <button type="submit" class="button goods__btn-responsive">добавить в корзину</button>

</div>