<header class="header" id="up">
    <div class="container">
        <div class="header__wrap row align-items-center justify-content-center">
            <div class="header__burger-position">
                <div class="header__btn-menu navbar-toggle" data-toggle="collapse" data-target="#open_topMenu__hiddenMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__settings_bar">
                <div class="header__settings_wrap">
                    <div class="header__setting ">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow"><a href="#">ГРН</a></li>
                            <li class="header__setting-items"><a href="#">ДОЛ</a></li>
                            <li class="header__setting-items"><a href="#">РУБ</a></li>
                            <li class="header__setting-items"><a href="#">ЕВРО</a></li>
                        </ul>
                    </div>
                    <div class="header__setting ">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow"><a href="#">RU</a></li>
                            <li class="header__setting-items"><a href="#">UA</a></li>
                            <li class="header__setting-items"><a href="#">EN</a></li>
                        </ul>
                    </div>
                    <div class="header__setting ">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow">
                                <a href="#" class="open-lang">Украина</a>
                                <img src="./assets/images/svg/ukraine.svg" alt="ukraine">
                            </li>
                            <li class="header__setting-items">
                                <a href="#">Россия</a>
                                <img src="./assets/images/svg/russian_federation.svg" alt="russian_federation">
                            </li>
                        </ul>
                    </div>
                    <div class="header__setting">
                        <ul class="header__setting-wrap justify-content-center">
                            <li class="header__setting-items arrow">
                                <img src="./assets/images/svg/phone.svg" alt="phone">
                                <a href="tel:+380992972639">+38(099) 297-26-39</a>
                            </li>
                            <li class="header__setting-items justify-content-center">
                                <a href="tel:+380503207070">+38(050) 320-70-70</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__setting">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow">
                                <a href="#" class="open-lang"> Пн - Пт с 10:00 до 18:00</a>
                            </li>
                            <li class="header__setting-items">
                                <a href="#" class="open-lang">Сб, Вс - выходной</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__logo">
                <a href="/index.html" class="header__logo_desktop">
                    <img src="./assets/images/logo.png" alt="logo" />
                </a>
                <div class="header__logo_descr">
                    <span>Товары для рукоделия и творчества</span>
                </div>
            </div>
            <div class="header__profile">
                <div class="header__profile_item" id="search"><img src="./assets/images/svg/search.svg" alt="search"></div>
                <div class="header__profile_item"><a href="/personal-account.html"><img src="./assets/images/svg/user.svg" alt="user"></a></div>
                <div class="header__profile_item"><img src="./assets/images/svg/iniciar-sesion.svg" alt="heart"></div>
                <div class="header__profile_item" id="basket"><img src="./assets/images/svg/shopping-cart.svg" alt="shopping-cart"></div>
                <div class="header__profile_item"><img src="./assets/images/svg/heart.svg" alt="heart"></div>
            </div>
        </div>
    </div>
</header>
