<header class="header" id="up">
    <div class="container">
        <div class="header__wrap row align-items-center justify-content-center">
            <div class="header__burger-position">
                <div class="header__btn-menu navbar-toggle" data-toggle="collapse" data-target="#open_topMenu__hiddenMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="header__settings_bar">
                <div class="header__settings_wrap">
                    <div class="header__setting ">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow"><a href="#">ГРН</a></li>
                            <li class="header__setting-items"><a href="#">ДОЛ</a></li>
                            <li class="header__setting-items"><a href="#">РУБ</a></li>
                            <li class="header__setting-items"><a href="#">ЕВРО</a></li>
                        </ul>
                    </div>
                    <div class="header__setting ">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow"><a href="#">RU</a></li>
                            <li class="header__setting-items"><a href="#">UA</a></li>
                            <li class="header__setting-items"><a href="#">EN</a></li>
                        </ul>
                    </div>
                    <div class="header__setting">
                        <form class="country-switch-form" data-drupal-selector="country-switch-form" action="/uk" method="post"
                              id="country-switch-form" accept-charset="UTF-8" data-drupal-form-fields="edit-countries,edit-submit">
                      
                          <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-countries form-item-countries form-no-label">
                      
                            <select class="country-select form-select form-control" onchange="this.form.submit()"
                                    data-drupal-selector="edit-countries" id="edit-countries" name="countries">
                              <option value="UA" selected="selected">Україна</option>
                              <option value="SJ">Svalbard &amp; Jan Mayen</option>
                              <option value="EG">Єгипет</option>
                              <option value="YE">Ємен</option>
                              <option value="IL">Ізраїль</option>
                              <option value="ID">Індонезія</option>
                              <option value="IN">Індія</option>
                              <option value="IQ">Ірак</option>
                              <option value="IR">Іран</option>
                              <option value="IE">Ірландія</option>
                              <option value="IS">Ісландія</option>
                              <option value="ES">Іспанія</option>
                              <option value="IT">Італія</option>
                              <option value="AU">Австралія</option>
                              <option value="AT">Австрія</option>
                              <option value="AZ">Азербайджан</option>
                              <option value="AX">Аландські острови</option>
                              <option value="AL">Албанія</option>
                              <option value="DZ">Алжир</option>
                              <option value="AS">Американське Самоа</option>
                              <option value="VI">Американські Віргінські острови</option>
                              <option value="AO">Ангола</option>
                              <option value="AI">Ангілья</option>
                              <option value="AD">Андорра</option>
                              <option value="AQ">Антарктида</option>
                              <option value="AG">Антигуа та Барбуда</option>
                              <option value="AR">Аргентина</option>
                              <option value="AW">Аруба</option>
                              <option value="AF">Афганістан</option>
                              <option value="BS">Багамські острови</option>
                              <option value="BD">Бангладеш</option>
                              <option value="BB">Барбадос</option>
                              <option value="BH">Бахрейн</option>
                              <option value="BE">Бельгія</option>
                              <option value="BZ">Беліз</option>
                              <option value="BJ">Бенін</option>
                              <option value="BM">Бермудські острови</option>
                              <option value="BG">Болгарія</option>
                              <option value="BO">Болівія</option>
                              <option value="BA">Боснія та Герцеговина</option>
                              <option value="BW">Ботсвана</option>
                              <option value="BR">Бразилія</option>
                              <option value="IO">Британська Територія в Індійському океані</option>
                              <option value="VG">Британські Віргінські острови</option>
                              <option value="BN">Бруней</option>
                              <option value="BF">Буркіна-Фасо</option>
                              <option value="BI">Бурунді</option>
                              <option value="BT">Бутан</option>
                              <option value="BY">Білорусь</option>
                              <option value="VN">В'єтнам</option>
                              <option value="VU">Вануату</option>
                              <option value="VA">Ватикан</option>
                              <option value="GB">Великобританія</option>
                              <option value="VE">Венесуела</option>
                              <option value="WF">Волліс і Футуна</option>
                              <option value="QO">Віддалена Океанія</option>
                              <option value="AM">Вірменія</option>
                              <option value="GA">Габон</option>
                              <option value="GY">Гайана</option>
                              <option value="GM">Гамбія</option>
                              <option value="GH">Гана</option>
                              <option value="HT">Гаїті</option>
                              <option value="GP">Гваделупа</option>
                              <option value="GT">Гватемала</option>
                              <option value="GN">Гвінея</option>
                              <option value="GW">Гвінея-Бісау</option>
                              <option value="GG">Гернсі</option>
                              <option value="HN">Гондурас</option>
                              <option value="HK">Гонконг ОАР, Китай</option>
                              <option value="GD">Гренада</option>
                              <option value="GL">Гренландія</option>
                              <option value="GR">Греція</option>
                              <option value="GE">Грузія</option>
                              <option value="GU">Гуам</option>
                              <option value="GI">Гібралтар</option>
                              <option value="DK">Данія</option>
                              <option value="JE">Джерсі</option>
                              <option value="DJ">Джибуті</option>
                              <option value="DM">Домініка</option>
                              <option value="DO">Домініканська республіка</option>
                              <option value="DG">Дієго-Гарсія</option>
                              <option value="EC">Еквадор</option>
                              <option value="GQ">Екваторіальна Гвінея</option>
                              <option value="SV">Ель-Сальвадор</option>
                              <option value="ER">Еритрея</option>
                              <option value="SZ">Есватині</option>
                              <option value="EE">Естонія</option>
                              <option value="ET">Ефіопія</option>
                              <option value="ZM">Замбія</option>
                              <option value="EH">Західна Сахара</option>
                              <option value="UM">Зовнішні малі острови США</option>
                              <option value="ZW">Зімбабве</option>
                              <option value="JO">Йорданія</option>
                              <option value="CV">Кабо-Верде</option>
                              <option value="KZ">Казахстан</option>
                              <option value="KY">Кайманові острови</option>
                              <option value="KH">Камбоджа</option>
                              <option value="CM">Камерун</option>
                              <option value="CA">Канада</option>
                              <option value="IC">Канарські острови</option>
                              <option value="QA">Катар</option>
                              <option value="KE">Кенія</option>
                              <option value="KG">Киргизстан</option>
                              <option value="CN">Китай</option>
                              <option value="CC">Кокосові (Кілінг) острови</option>
                              <option value="CO">Колумбія</option>
                              <option value="KM">Коморські острови</option>
                              <option value="CG">Конго - Браззавіль</option>
                              <option value="CD">Конго - Кіншаса</option>
                              <option value="XK">Косово</option>
                              <option value="CR">Коста-Ріка</option>
                              <option value="CI">Кот-д'Івуар</option>
                              <option value="CU">Куба</option>
                              <option value="KW">Кувейт</option>
                              <option value="CW">Кюрасао</option>
                              <option value="CY">Кіпр</option>
                              <option value="KI">Кірібаті</option>
                              <option value="LA">Лаос</option>
                              <option value="LV">Латвія</option>
                              <option value="LS">Лесото</option>
                              <option value="LT">Литва</option>
                              <option value="LU">Люксембург</option>
                              <option value="LR">Ліберія</option>
                              <option value="LB">Ліван</option>
                              <option value="LY">Лівія</option>
                              <option value="LI">Ліхтенштейн</option>
                              <option value="MU">Маврикій</option>
                              <option value="MR">Мавританія</option>
                              <option value="MG">Мадагаскар</option>
                              <option value="YT">Майотта</option>
                              <option value="MW">Малаві</option>
                              <option value="MY">Малайзія</option>
                              <option value="MV">Мальдіви</option>
                              <option value="MT">Мальта</option>
                              <option value="ML">Малі</option>
                              <option value="MA">Марокко</option>
                              <option value="MQ">Мартиніка</option>
                              <option value="MH">Маршаллові острови</option>
                              <option value="MX">Мексика</option>
                              <option value="MZ">Мозамбік</option>
                              <option value="MD">Молдова</option>
                              <option value="MC">Монако</option>
                              <option value="MN">Монголія</option>
                              <option value="MS">Монтсеррат</option>
                              <option value="RU">Московія</option>
                              <option value="MM">Мьянма</option>
                              <option value="FM">Мікронезія</option>
                              <option value="NA">Намібія</option>
                              <option value="NR">Науру</option>
                              <option value="NP">Непал</option>
                              <option value="NZ">Нова Зеландія</option>
                              <option value="NC">Нова Каледонія</option>
                              <option value="NO">Норвегія</option>
                              <option value="NE">Нігер</option>
                              <option value="NG">Нігерія</option>
                              <option value="NL">Нідерланди</option>
                              <option value="AN">Нідерландські Антильські острови</option>
                              <option value="BQ">Нідерландські Карибські острови</option>
                              <option value="NI">Нікарагуа</option>
                              <option value="DE">Німеччина</option>
                              <option value="NU">Ніуе</option>
                              <option value="AE">Об'єднані Арабські Емірати</option>
                              <option value="OM">Оман</option>
                              <option value="HM">Острови Герда і Макдональда</option>
                              <option value="CK">Острови Кука</option>
                              <option value="PN">Острови Піткерн</option>
                              <option value="TC">Острови Теркс і Кайкос</option>
                              <option value="BV">Острів Буве</option>
                              <option value="CP">Острів Кліпертон</option>
                              <option value="IM">Острів Мен</option>
                              <option value="NF">Острів Норфолк</option>
                              <option value="CX">Острів Різдва</option>
                              <option value="SH">Острів Св. Олени</option>
                              <option value="AC">Острів Сходження</option>
                              <option value="PK">Пакістан</option>
                              <option value="PW">Палау</option>
                              <option value="PS">Палестинські Території</option>
                              <option value="PA">Панама</option>
                              <option value="PG">Папуа Нова Гвінея</option>
                              <option value="PY">Парагвай</option>
                              <option value="PE">Перу</option>
                              <option value="PL">Польща</option>
                              <option value="PT">Португалія</option>
                              <option value="PR">Пуерто-Ріко</option>
                              <option value="ZA">Південна Африка</option>
                              <option value="GS">Південна Джорджія та Південні Сандвічеві острови</option>
                              <option value="KR">Південна Корея</option>
                              <option value="SS">Південний Судан</option>
                              <option value="KP">Північна Корея</option>
                              <option value="MK">Північна Македонія</option>
                              <option value="MP">Північні Маріанські острови</option>
                              <option value="RE">Реюньйон</option>
                              <option value="RW">Руанда</option>
                              <option value="RO">Румунія</option>
                              <option value="MO">САР Макао Китай</option>
                              <option value="US">США</option>
                              <option value="WS">Самоа</option>
                              <option value="SM">Сан-Марино</option>
                              <option value="ST">Сан-Томе і Принсипі</option>
                              <option value="SA">Саудівська Аравія</option>
                              <option value="SC">Сейшели</option>
                              <option value="BL">Сен-Бартельмі</option>
                              <option value="MF">Сен-Мартен</option>
                              <option value="PM">Сен-П'єр і Мікелон</option>
                              <option value="SN">Сенегал</option>
                              <option value="VC">Сент-Вінсент і Гренадини</option>
                              <option value="KN">Сент-Кітс і Невіс</option>
                              <option value="LC">Сент-Люсія</option>
                              <option value="RS">Сербія</option>
                              <option value="EA">Сеута і Мелілья</option>
                              <option value="SG">Сингапур</option>
                              <option value="SY">Сирія</option>
                              <option value="SK">Словаччина</option>
                              <option value="SI">Словенія</option>
                              <option value="SB">Соломонові острови</option>
                              <option value="SO">Сомалі</option>
                              <option value="SD">Судан</option>
                              <option value="SR">Сурінам</option>
                              <option value="TL">Східний Тимор</option>
                              <option value="SL">Сьєрра-Леоне</option>
                              <option value="SX">Сінт-Мартен</option>
                              <option value="TJ">Таджикістан</option>
                              <option value="TW">Тайвань</option>
                              <option value="TZ">Танзанія</option>
                              <option value="TH">Таїланд</option>
                              <option value="TG">Того</option>
                              <option value="TK">Токелау</option>
                              <option value="TO">Тонґа</option>
                              <option value="TT">Тринідад і Тобаго</option>
                              <option value="TA">Тристан-да-Кунья</option>
                              <option value="TV">Тувалу</option>
                              <option value="TN">Туніс</option>
                              <option value="TR">Туреччина</option>
                              <option value="TM">Туркменістан</option>
                              <option value="UG">Уганда</option>
                              <option value="HU">Угорщина</option>
                              <option value="UZ">Узбекістан</option>
                              <option value="UY">Уругвай</option>
                              <option value="FO">Фарерські острови</option>
                              <option value="FK">Фольклендські острови</option>
                              <option value="GF">Французька Гвіана</option>
                              <option value="PF">Французька Полінезія</option>
                              <option value="TF">Французькі Південні Території</option>
                              <option value="FR">Франція</option>
                              <option value="FJ">Фіджі</option>
                              <option value="PH">Філіппіни</option>
                              <option value="FI">Фінляндія</option>
                              <option value="HR">Хорватія</option>
                              <option value="CF">Центрально-Африканська Республіка</option>
                              <option value="TD">Чад</option>
                              <option value="CZ">Чехія</option>
                              <option value="CL">Чилі</option>
                              <option value="ME">Чорногорія</option>
                              <option value="CH">Швейцарія</option>
                              <option value="SE">Швеція</option>
                              <option value="LK">Шрі-Ланка</option>
                              <option value="JM">Ямайка</option>
                              <option value="JP">Японія</option>
                            </select>
                          </div>
                          <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit"
                                 class="button js-form-submit form-submit btn btn-primary">
                          <input autocomplete="off" data-drupal-selector="form-jely1blznypxyj7-yr6t87syyculokmoxz8yld7r8de" type="hidden"
                                 name="form_build_id" value="form-JeLY1blzNYpXyJ7_yr6T87syyCULokmOxz8YLd7r8dE" class="form-control">
                          <input data-drupal-selector="edit-country-switch-form-form-token" type="hidden" name="form_token"
                                 value="hguxSMR8M6iGI5iXbTAtkTZtdqUNx93uBTYBH0jpsBA" class="form-control">
                          <input data-drupal-selector="edit-country-switch-form" type="hidden" name="form_id" value="country_switch_form"
                                 class="form-control">
                        </form>
                      </div>
                      
                    <div class="header__setting">
                        <ul class="header__setting-wrap justify-content-center">
                            <li class="header__setting-items arrow">
                                <img src="./assets/images/svg/phone.svg" alt="phone">
                                <a href="tel:+380992972639">+38(099) 297-26-39</a>
                            </li>
                            <li class="header__setting-items justify-content-center">
                                <a href="tel:+380503207070">+38(050) 320-70-70</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__setting">
                        <ul class="header__setting-wrap">
                            <li class="header__setting-items arrow">
                                <a href="#" class="open-lang"> Пн - Пт с 10:00 до 18:00</a>
                            </li>
                            <li class="header__setting-items">
                                <a href="#" class="open-lang">Сб, Вс - выходной</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__logo">
                <a href="/index.html" class="header__logo_desktop">
                    <img src="./assets/images/logo.png" alt="logo" />
                </a>
                <div class="header__logo_descr">
                    <span>Товары для рукоделия и творчества</span>
                </div>
            </div>
            <div class="header__profile">
                <div class="header__profile_item" id="search"><img src="./assets/images/svg/search.svg" alt="search"></div>
                <div class="header__profile_item"><a href="/personal-account.html"><img src="./assets/images/svg/user.svg" alt="user"></a></div>
                <div class="header__profile_item"><img src="./assets/images/svg/iniciar-sesion.svg" alt="heart"></div>
                <div class="header__profile_item" id="basket"><img src="./assets/images/svg/shopping-cart.svg" alt="shopping-cart"></div>
                <div class="header__profile_item"><img src="./assets/images/svg/heart.svg" alt="heart"></div>
            </div>
        </div>
    </div>
</header>
