<div class="home__instashop-slider-item">
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/christmas_ball.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/owl.jpg" alt="Сова">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/casket.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/bauble.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/penguin.jpg" alt="Пингвин">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    

    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/christmas_ball.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/owl.jpg" alt="Сова">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/casket.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/bauble.jpg" alt="Рождественская игрушка">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
    <div class="home__instashop-slider-card">
        <a href="#" class="home__instashop-slider-link">
            <img src="./assets/images/index/penguin.jpg" alt="Пингвин">
        </a>
        <div class="home__instashop-hover">
            <a href="#" class="home__instashop-hover-icon"><img src="./assets/images/index/insta.svg" alt="Instagram"></a>
            <a href="#" class="home__instashop-hover-link">@volshebnayastranacomua</a>
            <a href="#" class="home__instashop-hover-btn mt-3 button button--transparent">посмотреть все</a>
        </div>
    </div>
</div>