<div class="modal fade" id="product_modal" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button class="modal__close"  data-dismiss="modal"></button>
            <div class="modal__slider">
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="./assets/images/yalinkova.png" alt=""></div>
            </div>
        </div>
    </div>
</div>