<div class="modal fade" id="product_modal" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal__wrap">
        <div class="modal__inner">
            <button type="button" class="modal__close"  data-target="#product_modal" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal__slider">
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
                <div class="modal__slider-items"><img src="../assets/images/yalinkova.png" alt=""></div>
            </div>
        </div>
    </div>
</div>