<nav class="personal-account__nav">
    <p class="personal-account__title">МОЙ КАБИНЕТ</p>
    <ul>
        <li class="personal-account__link active"><a href="/personal-account.html">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</a></li>
        <li class="personal-account__link"><a href="/favorites.html">ИЗБРАННОЕ</a></li>
        <li class="personal-account__link"><a href="/orders.html">ЗАКАЗЫ</a></li>
        <li class="personal-account__link"><a href="/loading.html">ЗАгрузки</a></li>
        <li class="personal-account__link"><a href="#">ВЫХОД</a></li>
    </ul>
</nav>