<nav class="personal-account__nav">
    <p class="personal-account__title">МОЙ КАБИНЕТ</p>
    <ul>
        <li ><a href="/personal-account.html" class="personal-account__link">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</a></li>
        <li><a href="/favorites.html" class="personal-account__link">ИЗБРАННОЕ</a></li>
        <li><a href="/orders.html" class="personal-account__link">ЗАКАЗЫ</a></li>
        <li><a href="/loading.html" class="personal-account__link activeLink">ЗАгрузки</a></li>
        <li><a href="#" class="personal-account__link">ВЫХОД</a></li>
    </ul>
</nav>