<form action="" class="comment-form" method="post">
    <span class="comment-form__title">оставить отзыв</span>
    <div class="comment-form__email">
        <label for="e-mail">e-mail*</label>
        <input type="email" name="e-mail" id="e-mail">
    </div>
    <div class="comment-form__pass">
        <label for="password">пароль*</label>
        <input type="password" name="e-mail" id="password">
    </div>
    <button class="button" type="submit">авторизоваться</button>
    <label class="comment-form__auth-title">войти с помощью</label>
    <div class="comment-form__auth">
        <div class="comment-form__auth-item">
            <a href="#">
                <span><img src="../assets/images/svg/facebook_auth.svg" alt="Facebook"></span>
                <p>Facebook</p>
            </a>
        </div>
        <div class="comment-form__auth-item">
            <a href="#">
                <span><img src="../assets/images/svg/google_auth.svg" alt="Facebook"></span>
                <p>Google</p>
            </a>
        </div>
        <div class="comment-form__auth-item">
            <a href="#">
                <span><img src="../assets/images/svg/vk_auth.svg" alt="Facebook"></span>
                <p>Вконтакте</p>
            </a>
        </div>
    </div>
</form>