<div class="orders__tabs">
    <table>
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата создания</th>
                <th>Дата обновления</th>
                <th>Итого</th>
                <th>Статус заказа</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span>Номер заказа</span>9814</td>
                <td><span>Дата создания</span>14.01.2019 05:22</td>
                <td><span>Дата обновления</span>01.05.2019 12:33</td>
                <td><span>Итого</span>80 грн</td>
                <td><span>Статус заказа</span><img src="./assets/images/svg/confirmation.svg" alt="Оплата"></td>
            </tr>
            <tr>
                <td><span>Номер заказа</span>9814</td>
                <td><span>Дата создания</span>14.01.2019 05:22</td>
                <td><span>Дата обновления</span>01.05.2019 12:33</td>
                <td><span>Итого</span>80 грн</td>
                <td><span>Статус заказа</span><img src="./assets/images/svg/treatment.svg" alt="Обработка"></td>
            </tr>
            <tr>
                <td><span>Номер заказа</span>9814</td>
                <td><span>Дата создания</span>14.01.2019 05:22</td>
                <td><span>Дата обновления</span>01.05.2019 12:33</td>
                <td><span>Итого</span>80 грн</td>
                <td><span>Статус заказа</span><img src="./assets/images/svg/error.svg" alt="Ошибка"></td>
            </tr>
            <tr>
                <td><span>Номер заказа</span>9814</td>
                <td><span>Дата создания</span>14.01.2019 05:22</td>
                <td><span>Дата обновления</span>01.05.2019 12:33</td>
                <td><span>Итого</span>80 грн</td>
                <td><span>Статус заказа</span><img src="./assets/images/svg/shipping.svg" alt="Доставка"></td>
            </tr>
            <tr>
                <td><span>Номер заказа</span>9814</td>
                <td><span>Дата создания</span>14.01.2019 05:22</td>
                <td><span>Дата обновления</span>01.05.2019 12:33</td>
                <td><span>Итого</span>80 грн</td>
                <td><span>Статус заказа</span><img src="./assets/images/svg/payment.svg" alt="Оплата"></td>
            </tr>
        </tbody>
    </table>
</div>