<div class="pagination">
    <div class="container">
        <div class="pagination__wrapp">
            <ul class="pagination__list">
                <li class="pagination__previous"><a href="#">НАЗАД</a></li>
                <li class="pagination__item active"><a href="#">1</a></li>
                <li class="pagination__item"><a href="#">2</a></li>
                <li class="pagination__item"><a href="#">3</a></li>
                <li class="pagination__item"><a href="#">4</a></li>
                <li class="pagination__item"><a href="#">5</a></li>
                <li class="pagination__next"><a href="#">ВПЕРЕД</a></li>
            </ul>
        </div>
    </div>
</div>