<div class="search">
    <div class="search__wrap">
        <div class="search__input">
            <input type="search">
            <img src="../assets/images/svg/arrow_product.svg" alt="Назад">
        </div>
        <div class="search__item">
            {{>goods}}
            {{>goods}}
            {{>goods}}
            {{>goods}}
        </div>
        <div class="search__menu">
            {{>catalog-menu}}
        </div>
        <div class="search__result">
            <span>ВСЕ ТОВАРЫ</span>
            <p>Найдено 19 товаров</p>
        </div>
    </div>
</div>