<ul class="topMenu__hiddenMenu-ul">
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#beadwork-search">ВЫШИВКА БИСЕРОМ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="beadwork-search">
            <li class="topMenu__hiddenMenu-sub-item" data-toggle="collapse" data-target="#open-search">Набор для вышивания бисером на пластиковой основе FLPL</li>
            <li class="collapse" id="open-search">
                <ul class="topMenu__hiddenMenu-sub_2">
                    <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Ловец снов</a></li>
                    <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Елочные игрушки</a></li>
                </ul>
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Набор для вышивания бисером по дереву FLK</li>
            <li class="topMenu__hiddenMenu-sub-item">Елочные игрушки для вышивания бисером FLE</li>
            <li class="topMenu__hiddenMenu-sub-item">Открытка для вышивки бисером FLO</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером FLF</li>
            <li class="topMenu__hiddenMenu-sub-item">Схемы для вышивания бисером FLS</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером" FLA</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с мольбертом FLMD
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с фигурной рамкой
                FLG</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с рамкой FLB</li>
            <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером с фигурной
                рамкой" FLD</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidery_with_threads-search">ВЫШИВКА НИТКАМИ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="embroidery_with_threads-search">
            <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания нитками на искусственной
                коже FLHL</li>
            <li class="topMenu__hiddenMenu-sub-item">Набор заготовок для вышивания по дереву FLSW
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивки нитками по дереву FLHW
            </li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивания нитками на канве FLH
            </li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#accessories_for_needlework-search">АКСЕССУАРЫ ДЛЯ РУКОДЕЛИЯ</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="accessories_for_needlework-search">
            <li class="topMenu__hiddenMenu-sub-item">Органайзер для бисера FLZB</li>
            <li class="topMenu__hiddenMenu-sub-item">Шкатулка для рукоделия FLZB(N)</li>
            <li class="topMenu__hiddenMenu-sub-item">Магнитный держатель для игл FLMH</li>
            <li class="topMenu__hiddenMenu-sub-item">Нитковдеватель</li>
            <li class="topMenu__hiddenMenu-sub-item">Катушки для ниток FLC(S)</li>
            <li class="topMenu__hiddenMenu-sub-item">Органайзер для мулине FLZ</li>
            <li class="topMenu__hiddenMenu-sub-item">Наклейки для органайзеров FLZ(N)</li>
            <li class="topMenu__hiddenMenu-sub-item">Мольберт декоративный</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#thread_for_beading-search">Бисер Preciosa Ornela (Чехия)</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="thread_for_beading-search">
            <li class="topMenu__hiddenMenu-sub-item">Нить FLT</li>
            <li class="topMenu__hiddenMenu-sub-item">Нить набор FLT-S</li>
        </ul>
    </li>
    <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#blanks_for_decoration-search">Заготовки для декорирования</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="blanks_for_decoration-search">
            <li class="topMenu__hiddenMenu-sub-item">Заготовка фоторамки для декорирования FLPF</li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования 3D FLC-(3D)</li>
            <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования FLC</li>
        </ul>
    </li>
   <li>
        <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidered_products-search">Вышитые изделия</span>
        <ul class="topMenu__hiddenMenu-sub collapse" id="embroidered_products-search">
            <li class="topMenu__hiddenMenu-sub-item">Открытка на холсте FLO(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Картина в фигурной рамке FLG(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">ZМагнит на холсте FLA(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Картина с мольбертом FLMD(E)</li>
            <li class="topMenu__hiddenMenu-sub-item">Магнит с фигурной рамкой FLD(E)</li>
        </ul>
   </li>
</ul>