<div class="topMenu">
    <div class="container">
        <div class="topMenu__wrap-nav">
            <nav class="topMenu__nav">
                <ul class="topMenu__nav-list row justify-content-center">
                    <li class="topMenu__nav-item col-auto"><a href="#">Каталог</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Акции и конкурсы</a></li>
                    <li class="topMenu__nav-item--arrow col-auto"><a href="#" data-toggle="collapse" data-target="#open_topMenu__hiddenMenu , #open_set_contents">Содержимое набора</a></li>
                    <li class="topMenu__nav-item--arrow col-auto" id="news"><a href="#" data-toggle="collapse" data-target="#open_topMenu__hiddenMenu , #open_news">Новости</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Блог</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Оплата и доставка</a></li>
                    <li class="topMenu__nav-item--arrow col-auto" id="information"><a href="#" data-toggle="collapse" data-target="#open_topMenu__hiddenMenu , #open_information">Информация</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Опт</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Sale</a></li>
                    <li class="topMenu__nav-item col-auto"><a href="#">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- HIDDEN MENU -->
    <div class="topMenu__hiddenMenu collapse" id="open_topMenu__hiddenMenu">
        <div class="topMenu__hiddenMenu-wrap">
            <ul class="topMenu__hiddenMenu-sibebarUl">
                <li class="topMenu__hiddenMenu-sidebar"><a href="/">НОВИНКИ</a></li>
                <li class="topMenu__hiddenMenu-sidebar"><a href="/">Sale</a></li>
            </ul>
            <ul class="topMenu__hiddenMenu-ul">
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#beadwork">ВЫШИВКА БИСЕРОМ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="beadwork">
                        <li class="topMenu__hiddenMenu-sub-item" data-toggle="collapse" data-target="#open2">Набор для вышивания бисером на пластиковой основе FLPL</li>
                        <li class="collapse" id="open2">
                            <ul class="topMenu__hiddenMenu-sub_2">
                                <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Ловец снов</a></li>
                                <li class="topMenu__hiddenMenu-sub-item_2"><a href="#">Елочные игрушки</a></li>
                            </ul>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item">Набор для вышивания бисером по дереву FLK</li>
                        <li class="topMenu__hiddenMenu-sub-item">Елочные игрушки для вышивания бисером FLE</li>
                        <li class="topMenu__hiddenMenu-sub-item">Открытка для вышивки бисером FLO</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером FLF</li>
                        <li class="topMenu__hiddenMenu-sub-item">Схемы для вышивания бисером FLS</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером" FLA</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с мольбертом FLMD
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с фигурной рамкой
                            FLG</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания бисером с рамкой FLB</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наборы "Магнит для вышивания бисером с фигурной
                            рамкой" FLD</li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidery_with_threads">ВЫШИВКА НИТКАМИ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="embroidery_with_threads">
                        <li class="topMenu__hiddenMenu-sub-item">Наборы для вышивания нитками на искусственной
                            коже FLHL</li>
                        <li class="topMenu__hiddenMenu-sub-item">Набор заготовок для вышивания по дереву FLSW
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивки нитками по дереву FLHW
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item">Заготовки для вышивания нитками на канве FLH
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#accessories_for_needlework">АКСЕССУАРЫ ДЛЯ РУКОДЕЛИЯ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="accessories_for_needlework">
                        <li class="topMenu__hiddenMenu-sub-item">Органайзер для бисера FLZB</li>
                        <li class="topMenu__hiddenMenu-sub-item">Шкатулка для рукоделия FLZB(N)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Магнитный держатель для игл FLMH</li>
                        <li class="topMenu__hiddenMenu-sub-item">Нитковдеватель</li>
                        <li class="topMenu__hiddenMenu-sub-item">Катушки для ниток FLC(S)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Органайзер для мулине FLZ</li>
                        <li class="topMenu__hiddenMenu-sub-item">Наклейки для органайзеров FLZ(N)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Мольберт декоративный</li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#thread_for_beading">НИТЬ ДЛЯ ВЫШИВАНИЯ БИСЕРОМ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="thread_for_beading">
                        <li class="topMenu__hiddenMenu-sub-item">Нить FLT</li>
                        <li class="topMenu__hiddenMenu-sub-item">Нить набор FLT-S</li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#preciosa_beads">Бисер Preciosa Ornela (Чехия)</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="preciosa_beads">
                        <li class="topMenu__hiddenMenu-sub-item">Белый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Бирюзовый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Голубой</li>
                        <li class="topMenu__hiddenMenu-sub-item">Желтый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Жемчужный</li>
                        <li class="topMenu__hiddenMenu-sub-item">Зеленый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Золотой</li>
                        <li class="topMenu__hiddenMenu-sub-item">Коричневый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Красный</li>
                        <li class="topMenu__hiddenMenu-sub-item">Морская волна</li>
                        <li class="topMenu__hiddenMenu-sub-item">Оранжевый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Розовый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Салатовый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Серый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Синий</li>
                        <li class="topMenu__hiddenMenu-sub-item">Фиолетовый/сиреневый</li>
                        <li class="topMenu__hiddenMenu-sub-item">Черный</li>
                        <li class="topMenu__hiddenMenu-sub-item">Разное</li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#blanks_for_decoration">Заготовки для декорирования</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="blanks_for_decoration">
                        <li class="topMenu__hiddenMenu-sub-item">Заготовка фоторамки для декорирования FLPF</li>
                        <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования 3D FLC-(3D)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Заготовки для декорирования FLC</li>
                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#blanks_for_coloring">Заготовки для раскрашивания</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="blanks_for_coloring">
                        <li class="topMenu__hiddenMenu-sub-item">Раскраска по дереву FLY</li>
                        <li class="topMenu__hiddenMenu-sub-item">Холст на подрамнике для рисования FLR</li>
                        <li class="topMenu__hiddenMenu-sub-item">Раскраска - магнит FLV</li>
                    </ul>
                </li>
               <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#embroidered_products">Вышитые изделия</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="embroidered_products">
                        <li class="topMenu__hiddenMenu-sub-item">Открытка на холсте FLO(E)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Картина в фигурной рамке FLG(E)</li>
                        <li class="topMenu__hiddenMenu-sub-item">ZМагнит на холсте FLA(E)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Картина с мольбертом FLMD(E)</li>
                        <li class="topMenu__hiddenMenu-sub-item">Магнит с фигурной рамкой FLD(E)</li>
                    </ul>
               </li>
            </ul>
            <ul class="topMenu__hiddenMenu-ul">
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="#">АКЦИИ И КОНКУРСЫ</a></li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#open_set_contents">СОДЕРЖИМОЕ НАБОРА</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="open_set_contents">
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/deer.svg"
                                alt="deer">
                            <p><a href="#">Содержимое набора для вышивания бисером по дереву FLK "Качалка"</a>
                            </p>
                        </li>

                    </ul>
                </li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#open_news">НОВОСТИ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="open_news">
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow"><img src="./assets/images/svg/new.svg"
                                alt="new">
                            <div>
                                <p>19.07.2020 </p>
                                <a href="#"> Новинки июля!</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="/">БЛОГ</a></li>
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="/">ОПЛАТА И ДОСТАВКА</a></li>
                <li>
                    <span class="topMenu__hiddenMenu-item" data-toggle="collapse" data-target="#open_information">ИНФОРМАЦИЯ</span>
                    <ul class="topMenu__hiddenMenu-sub collapse" id="open_information">
                        <li class="topMenu__hiddenMenu-sub-item--noarrow">О нас</li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow">Скидки</li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow">Обмен и возврат</li>
                        <li class="topMenu__hiddenMenu-sub-item--noarrow">Пользовательское соглашение</li>
                    </ul>
                </li>
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="/">ОПТ</a></li>
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="/">SALE</a></li>
                <li class="topMenu__hiddenMenu-item--noarrow"><a href="/">КОНТАКТЫ</a></li>
            </ul>

            <!-- CARD -->
            <div class="topMenu__hiddenMenu-cardWrapp">
                <div class="topMenu__hiddenMenu-card">
                    <div class="topMenu__hiddenMenu-card-img">
                        <a href="#"><img src="./assets/images/svg/spruce.png" alt="spruce"></a>
                    </div>
                    <p class="topMenu__hiddenMenu-card-descr">Органайзер для бисера с прозрачной крышкой
                        FLZB-023</p>
                    <div class="topMenu__hiddenMenu-card-rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <span><a href="#">30 отзывов</a></span>
                    </div>
                    <div class="topMenu__hiddenMenu-card-property">
                        <div class="topMenu__hiddenMenu-card-article">
                            <p>Артикул: <span>FLZB-023</span></p>
                            <p>Размер: <span>14х14,5см</span></p>
                        </div>
                        <span class="topMenu__hiddenMenu-card-prise">130 грн</span>
                    </div>
                </div>
                <div class="topMenu__hiddenMenu-card">
                    <div class="topMenu__hiddenMenu-card-img">
                        <a href="#"><img src="./assets/images/svg/spruce.png" alt="spruce"></a>
                    </div>
                    <p class="topMenu__hiddenMenu-card-descr">Органайзер для бисера с прозрачной крышкой
                        FLZB-023</p>
                    <div class="topMenu__hiddenMenu-card-rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <img src="./assets/images/svg/rating.svg" alt="rating">
                        <span><a href="#">30 отзывов</a></span>
                    </div>
                    <div class="topMenu__hiddenMenu-card-property">
                        <div class="topMenu__hiddenMenu-card-article">
                            <p>Артикул: <span>FLZB-023</span></p>
                            <p>Размер: <span>14х14,5см</span></p>
                        </div>
                        <span class="topMenu__hiddenMenu-card-prise">130 грн</span>
                    </div>
                </div>
            </div>
            <!-- CARD -->
        </div>

        <!-- responsive sett -->
        <div class="topMenu__hiddenMenu-setting">
            <div class="topMenu__hiddenMenu-setting_region" data-toggle="collapse" data-target="#openResponsiveSett">
                <span id="openSettingLang">Украина
                    <img src="./assets/images/svg/ukraine.svg" alt="ukraine">
                </span>
            </div>
            <div class="collapse" id="openResponsiveSett">
                <ul class="topMenu__hiddenMenu-setting_wrap">
                    <li class="topMenu__hiddenMenu-setting_region_item">
                        <a href="#">Украина</a>
                        <img src="./assets/images/svg/ukraine.svg" alt="ukraine">
                    </li>
                    <li class="topMenu__hiddenMenu-setting_region_item">
                        <a href="#">Россия</a>
                        <img src="./assets/images/svg/russian_federation.svg" alt="russian_federation">
                    </li>
                </ul>
            </div>

            <div class="topMenu__hiddenMenu-setting_lang">
                <span>ЯЗЫК</span>
                <ul class="topMenu__hiddenMenu-setting_lang-wrap">
                    <li class="topMenu__hiddenMenu-setting_lang-item"><a href="#">RU</a></li>
                    <li class="topMenu__hiddenMenu-setting_lang-item"><a href="#">UAH</a></li>
                    <li class="topMenu__hiddenMenu-setting_lang-item"><a href="#">EN</a></li>
                </ul>
            </div>

            <div class="topMenu__hiddenMenu-setting_currency">
                <span>ВАЛЮТА</span>
                <ul class="topMenu__hiddenMenu-setting_currency-wrap">
                    <li class="topMenu__hiddenMenu-setting_currency-item"><a href="#">ГРН</a></li>
                    <li class="topMenu__hiddenMenu-setting_currency-item"><a href="#">ДОЛ</a></li>
                    <li class="topMenu__hiddenMenu-setting_currency-item"><a href="#">РУБ</a></li>
                    <li class="topMenu__hiddenMenu-setting_currency-item"><a href="#">ЕВРО</a></li>
                </ul>
            </div>
        </div>
        <!-- responsive sett -->
    </div>
</div>